In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import geopandas as gpd

# World Happiness Report

Read and check the data per year

Note: The datasets loaded into this notebook were initially cleaned.

---

## **2015**

In [2]:
whr2015 = pd.read_csv('whr/2015.csv')
whr2015['Year']=2015
whr2015.head(22)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,2015
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570,2015
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119,2015
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425,2015
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,2015
10,Israel,Middle East and Northern Africa,11,7.278,0.03470,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854,2015
11,Costa Rica,Latin America and Caribbean,12,7.226,0.04454,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,3.17728,2015
12,Austria,Western Europe,13,7.200,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.53320,2015
13,Mexico,Latin America and Caribbean,14,7.187,0.04176,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214,2015
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011,2015
15,Brazil,Latin America and Caribbean,16,6.983,0.04076,0.98124,1.23287,0.69702,0.49049,0.17521,0.14574,3.26001,2015
16,Luxembourg,Western Europe,17,6.946,0.03499,1.56391,1.21963,0.91894,0.61583,0.37798,0.28034,1.96961,2015
17,Ireland,Western Europe,18,6.940,0.03676,1.33596,1.36948,0.89533,0.61777,0.28703,0.45901,1.97570,2015
18,Belgium,Western Europe,19,6.937,0.03595,1.30782,1.28566,0.89667,0.58450,0.22540,0.22250,2.41484,2015
19,United Arab Emirates,Middle East and Northern Africa,20,6.901,0.03729,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2.24743,2015
20,United Kingdom,Western Europe,21,6.867,0.01866,1.26637,1.28548,0.90943,0.59625,0.32067,0.51912,1.96994,2015
21,Oman,Middle East and Northern Africa,22,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489,2015

In [3]:
whr2015.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
Year                               int64
dtype: object

In [4]:
whr2015.count

<bound method DataFrame.count of          Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual  Year
0       0.29678            2.51738  2015
1       0.43630            2.70201  2015
2       0.34139            2.49204  2015
3       0.34699            2.46531  2015
4       0.45811            2.45176  2015
..          ...                ...   ...
153     0.22628            0.67042  2015
154     0.18260            1.63328  2015
155     0.47179            0.32858  2015
156     0.19727            1.83302  2015
157     0.16681            1.56726  2015

[158 rows x 13 columns]>

In [5]:
whr2015.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
Year                             0
dtype: int64

## **2016**

In [6]:
whr2016 = pd.read_csv('whr/2016.csv')
whr2016['Year']=2016
whr2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

In [7]:
whr2016.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Lower Confidence Interval        float64
Upper Confidence Interval        float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
Year                               int64
dtype: object

In [8]:
whr2016.count

<bound method DataFrame.count of          Country                           Region  Happiness Rank  \
0        Denmark                   Western Europe               1
1    Switzerland                   Western Europe               2
2        Iceland                   Western Europe               3
3         Norway                   Western Europe               4
4        Finland                   Western Europe               5
..           ...                              ...             ...
152        Benin               Sub-Saharan Africa             153
153  Afghanistan                    Southern Asia             154
154         Togo               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157

     Happiness Score  Lower Confidence Interval  Upper Confidence Interval  \
0              7.526                      7.460                      7.592
1              7.509                      7.428                      7.590
2              7.501                      7.333                      7.669
3              7.498                      7.421                      7.575
4              7.413                      7.351                      7.475
..               ...                        ...                        ...
152            3.484                      3.404                      3.564
153            3.360                      3.288                      3.432
154            3.303                      3.192                      3.414
155            3.069                      2.936                      3.202
156            2.905                      2.732                      3.078

     Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
0                     1.44178  1.16374                   0.79504  0.57941
1                     1.52733  1.14524                   0.86303  0.58557
2                     1.42666  1.18326                   0.86733  0.56624
3                     1.57744  1.12690                   0.79579  0.59609
4                     1.40598  1.13464                   0.81091  0.57104
..                        ...      ...                       ...      ...
152                   0.39499  0.10419                   0.21028  0.39747
153                   0.38227  0.11037                   0.17344  0.16430
154                   0.28123  0.00000                   0.24811  0.34678
155                   0.74719  0.14866                   0.62994  0.06912
156                   0.06831  0.23442                   0.15747  0.04320

     Trust (Government Corruption)  Generosity  Dystopia Residual  Year
0                          0.44453     0.36171            2.73939  2016
1                          0.41203     0.28083            2.69463  2016
2                          0.14975     0.47678            2.83137  2016
3                          0.35776     0.37895            2.66465  2016
4                          0.41004     0.25492            2.82596  2016
..                             ...         ...                ...   ...
152                        0.06681     0.20180            2.10812  2016
153                        0.07112     0.31268            2.14558  2016
154                        0.11587     0.17517            2.13540  2016
155                        0.17233     0.48397            0.81789  2016
156                        0.09419     0.20290            2.10404  2016

[157 rows x 14 columns]>

In [9]:
whr2016.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
Year                             0
dtype: int64

## **2017**

In [10]:
whr2017 = pd.read_csv('whr/2017.csv')
whr2017['Year']=2017
whr2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017

In [11]:
whr2017.dtypes

Country                           object
Happiness.Rank                     int64
Happiness.Score                  float64
Whisker.high                     float64
Whisker.low                      float64
Economy..GDP.per.Capita.         float64
Family                           float64
Health..Life.Expectancy.         float64
Freedom                          float64
Generosity                       float64
Trust..Government.Corruption.    float64
Dystopia.Residual                float64
Year                               int64
dtype: object

In [12]:
whr2017.count

<bound method DataFrame.count of                       Country  Happiness.Rank  Happiness.Score  Whisker.high  \
0                      Norway               1            7.537      7.594445
1                     Denmark               2            7.522      7.581728
2                     Iceland               3            7.504      7.622030
3                 Switzerland               4            7.494      7.561772
4                     Finland               5            7.469      7.527542
..                        ...             ...              ...           ...
150                    Rwanda             151            3.471      3.543030
151                     Syria             152            3.462      3.663669
152                  Tanzania             153            3.349      3.461430
153                   Burundi             154            2.905      3.074690
154  Central African Republic             155            2.693      2.864884

     Whisker.low  Economy..GDP.per.Capita.    Family  \
0       7.479556                  1.616463  1.533524
1       7.462272                  1.482383  1.551122
2       7.385970                  1.480633  1.610574
3       7.426227                  1.564980  1.516912
4       7.410458                  1.443572  1.540247
..           ...                       ...       ...
150     3.398970                  0.368746  0.945707
151     3.260331                  0.777153  0.396103
152     3.236570                  0.511136  1.041990
153     2.735310                  0.091623  0.629794
154     2.521116                  0.000000  0.000000

     Health..Life.Expectancy.   Freedom  Generosity  \
0                    0.796667  0.635423    0.362012
1                    0.792566  0.626007    0.355280
2                    0.833552  0.627163    0.475540
3                    0.858131  0.620071    0.290549
4                    0.809158  0.617951    0.245483
..                        ...       ...         ...
150                  0.326425  0.581844    0.252756
151                  0.500533  0.081539    0.493664
152                  0.364509  0.390018    0.354256
153                  0.151611  0.059901    0.204435
154                  0.018773  0.270842    0.280876

     Trust..Government.Corruption.  Dystopia.Residual  Year
0                         0.315964           2.277027  2017
1                         0.400770           2.313707  2017
2                         0.153527           2.322715  2017
3                         0.367007           2.276716  2017
4                         0.382612           2.430182  2017
..                             ...                ...   ...
150                       0.455220           0.540061  2017
151                       0.151347           1.061574  2017
152                       0.066035           0.621130  2017
153                       0.084148           1.683024  2017
154                       0.056565           2.066005  2017

[155 rows x 13 columns]>

In [13]:
whr2017.isnull().sum()

Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
Year                             0
dtype: int64

## **2018**

In [14]:
whr2018 = pd.read_csv('whr/2018.csv')
whr2018['Year']=2018
whr2018 = whr2018.rename(columns={'Country or region':'Country'},errors="raise")
whr2018.head()

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [15]:
whr2018.dtypes

Overall rank                      int64
Country                          object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
Year                              int64
dtype: object

In [16]:
whr2018.count

<bound method DataFrame.count of      Overall rank                   Country  Score  GDP per capita  \
0               1                   Finland  7.632           1.305
1               2                    Norway  7.594           1.456
2               3                   Denmark  7.555           1.351
3               4                   Iceland  7.495           1.343
4               5               Switzerland  7.487           1.420
..            ...                       ...    ...             ...
151           152                     Yemen  3.355           0.442
152           153                  Tanzania  3.303           0.455
153           154               South Sudan  3.254           0.337
154           155  Central African Republic  3.083           0.024
155           156                   Burundi  2.905           0.091

     Social support  Healthy life expectancy  Freedom to make life choices  \
0             1.592                    0.874                         0.681
1             1.582                    0.861                         0.686
2             1.590                    0.868                         0.683
3             1.644                    0.914                         0.677
4             1.549                    0.927                         0.660
..              ...                      ...                           ...
151           1.073                    0.343                         0.244
152           0.991                    0.381                         0.481
153           0.608                    0.177                         0.112
154           0.000                    0.010                         0.305
155           0.627                    0.145                         0.065

     Generosity  Perceptions of corruption  Year
0         0.202                      0.393  2018
1         0.286                      0.340  2018
2         0.284                      0.408  2018
3         0.353                      0.138  2018
4         0.256                      0.357  2018
..          ...                        ...   ...
151       0.083                      0.064  2018
152       0.270                      0.097  2018
153       0.224                      0.106  2018
154       0.218                      0.038  2018
155       0.149                      0.076  2018

[156 rows x 10 columns]>

In [17]:
whr2018.isnull().sum()

Overall rank                    0
Country                         0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
Year                            0
dtype: int64

## **2019**

In [18]:
whr2019 = pd.read_csv('whr/2019.csv')
whr2019['Year']=2019
whr2019 = whr2019.rename(columns={'Country or region':'Country'},errors="raise")
whr2019.head()

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [19]:
whr2019.dtypes

Overall rank                      int64
Country                          object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
Year                              int64
dtype: object

In [20]:
whr2019.count

<bound method DataFrame.count of      Overall rank                   Country  Score  GDP per capita  \
0               1                   Finland  7.769           1.340
1               2                   Denmark  7.600           1.383
2               3                    Norway  7.554           1.488
3               4                   Iceland  7.494           1.380
4               5               Netherlands  7.488           1.396
..            ...                       ...    ...             ...
151           152                    Rwanda  3.334           0.359
152           153                  Tanzania  3.231           0.476
153           154               Afghanistan  3.203           0.350
154           155  Central African Republic  3.083           0.026
155           156               South Sudan  2.853           0.306

     Social support  Healthy life expectancy  Freedom to make life choices  \
0             1.587                    0.986                         0.596
1             1.573                    0.996                         0.592
2             1.582                    1.028                         0.603
3             1.624                    1.026                         0.591
4             1.522                    0.999                         0.557
..              ...                      ...                           ...
151           0.711                    0.614                         0.555
152           0.885                    0.499                         0.417
153           0.517                    0.361                         0.000
154           0.000                    0.105                         0.225
155           0.575                    0.295                         0.010

     Generosity  Perceptions of corruption  Year
0         0.153                      0.393  2019
1         0.252                      0.410  2019
2         0.271                      0.341  2019
3         0.354                      0.118  2019
4         0.322                      0.298  2019
..          ...                        ...   ...
151       0.217                      0.411  2019
152       0.276                      0.147  2019
153       0.158                      0.025  2019
154       0.235                      0.035  2019
155       0.202                      0.091  2019

[156 rows x 10 columns]>

In [21]:
whr2019.isnull().sum()

Overall rank                    0
Country                         0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
Year                            0
dtype: int64

## **2020**

In [22]:
whr2020 = pd.read_csv('whr/2020.csv')
whr2020['Year']=2020
whr2020 = whr2020.rename(columns={'Country name':'Country'},errors="raise")
whr2020.head()

,Rank,Country,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,...,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Year
0,1,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,...,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,2020
1,2,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,...,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,2020
2,3,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,...,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267,2020
3,4,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,...,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688,2020
4,5,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,...,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266,2020

In [23]:
whr2020.dtypes

Rank                                            int64
Country                                        object
Regional indicator                             object
Ladder score                                  float64
Standard error of ladder score                float64
upperwhisker                                  float64
lowerwhisker                                  float64
Logged GDP per capita                         float64
Social support                                float64
Healthy life expectancy                       float64
Freedom to make life choices                  float64
Generosity                                    float64
Perceptions of corruption                     float64
Ladder score in Dystopia                      float64
Explained by: Log GDP per capita              float64
Explained by: Social support                  float64
Explained by: Healthy life expectancy         float64
Explained by: Freedom to make life choices    float64
Explained by: Generosity                      float64
Explained by: Perceptions of corruption       float64
Dystopia + residual                           float64
Year                                            int64
dtype: object

In [24]:
whr2020.count

<bound method DataFrame.count of      Rank      Country  Regional indicator  Ladder score  \
0       1      Finland      Western Europe        7.8087
1       2      Denmark      Western Europe        7.6456
2       3  Switzerland      Western Europe        7.5599
3       4      Iceland      Western Europe        7.5045
4       5       Norway      Western Europe        7.4880
..    ...          ...                 ...           ...
139   140     Tanzania  Sub-Saharan Africa        3.4762
140   141       Rwanda  Sub-Saharan Africa        3.3123
141   142     Zimbabwe  Sub-Saharan Africa        3.2992
142   143  South Sudan  Sub-Saharan Africa        2.8166
143   144  Afghanistan          South Asia        2.5669

     Standard error of ladder score  upperwhisker  lowerwhisker  \
0                          0.031156      7.869766      7.747634
1                          0.033492      7.711245      7.579955
2                          0.035014      7.628528      7.491272
3                          0.059616      7.621347      7.387653
4                          0.034837      7.556281      7.419719
..                              ...           ...           ...
139                        0.063210      3.600091      3.352309
140                        0.052425      3.415053      3.209547
141                        0.058674      3.414202      3.184198
142                        0.107610      3.027516      2.605684
143                        0.031311      2.628270      2.505530

     Logged GDP per capita  Social support  Healthy life expectancy  ...  \
0                10.639267        0.954330                71.900825  ...
1                10.774001        0.955991                72.402504  ...
2                10.979933        0.942847                74.102448  ...
3                10.772559        0.974670                73.000000  ...
4                11.087804        0.952487                73.200783  ...
..                     ...             ...                      ...  ...
139               7.967665        0.688933                57.496075  ...
140               7.600104        0.540835                61.098846  ...
141               7.865712        0.763093                55.617260  ...
142               7.425360        0.553707                51.000000  ...
143               7.462861        0.470367                52.590000  ...

     Perceptions of corruption  Ladder score in Dystopia  \
0                     0.195445                  1.972317
1                     0.168489                  1.972317
2                     0.303728                  1.972317
3                     0.711710                  1.972317
4                     0.263218                  1.972317
..                         ...                       ...
139                   0.619799                  1.972317
140                   0.183541                  1.972317
141                   0.810237                  1.972317
142                   0.763417                  1.972317
143                   0.933687                  1.972317

     Explained by: Log GDP per capita  Explained by: Social support  \
0                            1.285190                      1.499526
1                            1.326949                      1.503449
2                            1.390774                      1.472403
3                            1.326502                      1.547567
4                            1.424207                      1.495173
..                                ...                           ...
139                          0.457163                      0.872675
140                          0.343243                      0.522876
141                          0.425564                      1.047835
142                          0.289083                      0.553279
143                          0.300706                      0.356434

     Explained by: Healthy life expectancy  \
0                                 0.961271
1                                 0.979333
2                                 1.040533
3                                 1.000843
4                                 1.008072
..                                     ...
139                               0.442678
140                               0.572383
141                               0.375038
142                               0.208809
143                               0.266052

     Explained by: Freedom to make life choices  Explained by: Generosity  \
0                                      0.662317                  0.159670
1                                      0.665040                  0.242793
2                                      0.628954                  0.269056
3                                      0.661981                  0.362330
4                                      0.670201                  0.287985
..                                          ...                       ...
139                                    0.509343                  0.271541
140                                    0.604088                  0.235705
141                                    0.377405                  0.151349
142                                    0.065609                  0.209935
143                                    0.000000                  0.135235

     Explained by: Perceptions of corruption  Dystopia + residual  Year
0                                   0.477857             2.762835  2020
1                                   0.495260             2.432741  2020
2                                   0.407946             2.350267  2020
3                                   0.144541             2.460688  2020
4                                   0.434101             2.168266  2020
..                                       ...                  ...   ...
139                                 0.203881             0.718963  2020
140                                 0.485542             0.548445  2020
141                                 0.080929             0.841031  2020
142                                 0.111157             1.378751  2020
143                                 0.001226             1.507236  2020

[144 rows x 22 columns]>

In [25]:
whr2020.isnull().sum()

Rank                                          0
Country                                       0
Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
Year                                          0
dtype: int64

#### After checking all the data from the World Happiness Report of the years 2015-2020, we can see that there is a difference in the number of rows per year, which means that not all countries have a happiness report in a certain year. Thus, we only select the countries that have a record starting from year 2015 to 2020. Since the year 2020 has the least number of countries, we will use it as a base and cross check if the countries in the 2020 dataset is also in the other datasets.

For this process we used MS Excel and found out that all the countries in the dataset for year 2020 is present in other datasets.

---

## Creating the Final Dataset

In [26]:
whrfinalCountries=pd.DataFrame(whr2020['Country'])
whrfinalCountries['Region']=whr2020['Regional indicator']
whrfinalCountries

         Country              Region
0        Finland      Western Europe
1        Denmark      Western Europe
2    Switzerland      Western Europe
3        Iceland      Western Europe
4         Norway      Western Europe
..           ...                 ...
139     Tanzania  Sub-Saharan Africa
140       Rwanda  Sub-Saharan Africa
141     Zimbabwe  Sub-Saharan Africa
142  South Sudan  Sub-Saharan Africa
143  Afghanistan          South Asia

[144 rows x 2 columns]

In [27]:
whrfinalCountries.isnull().sum()

Country    0
Region     0
dtype: int64

In [28]:
whr2015final = whr2015[whr2015.Country.isin(whrfinalCountries.Country)]
del whr2015final['Dystopia Residual']
del whr2015final['Family']
del whr2015final['Standard Error']
del whr2015final['Region']
whr2015final = whr2015final.rename(columns={'Happiness Rank':'Happiness_Rank','Happiness Score':'Happiness_Score',
                                            'Economy (GDP per Capita)':'GDP_hscore','Health (Life Expectancy)':'LifeExp_hscore',
                                           'Freedom':'Freedom_hscore', 'Trust (Government Corruption)':'Corruption_hscore',
                                            'Generosity':'Generosity_hscore'}
                                  ,errors="raise")
whr2015final=pd.merge(whr2015final,whrfinalCountries, on='Country', how='left') 
whr2015final

,Country,Happiness_Rank,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Corruption_hscore,Generosity_hscore,Year,Region
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015,Western Europe
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015,Western Europe
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015,Western Europe
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015,Western Europe
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015,North America and ANZ
...,...,...,...,...,...,...,...,...,...,...
139,Afghanistan,153,3.575,0.31982,0.30335,0.23414,0.09719,0.36510,2015,South Asia
140,Rwanda,154,3.465,0.22208,0.42864,0.59201,0.55191,0.22628,2015,Sub-Saharan Africa
141,Benin,155,3.340,0.28665,0.31910,0.48450,0.08010,0.18260,2015,Sub-Saharan Africa
142,Burundi,157,2.905,0.01530,0.22396,0.11850,0.10062,0.19727,2015,Sub-Saharan Africa
143,Togo,158,2.839,0.20868,0.28443,0.36453,0.10731,0.16681,2015,Sub-Saharan Africa

In [29]:
whr2016final = whr2016[whr2016.Country.isin(whrfinalCountries.Country)]
del whr2016final['Dystopia Residual']
del whr2016final['Family']
del whr2016final['Lower Confidence Interval']
del whr2016final['Upper Confidence Interval']
del whr2016final['Region']
whr2016final = whr2016final.rename(columns={'Happiness Rank':'Happiness_Rank','Happiness Score':'Happiness_Score',
                                           'Economy (GDP per Capita)':'GDP_hscore','Health (Life Expectancy)':'LifeExp_hscore',
                                           'Freedom':'Freedom_hscore', 'Trust (Government Corruption)':'Corruption_hscore','Generosity':'Generosity_hscore'}
                                   ,errors="raise")
whr2016final=pd.merge(whr2016final,whrfinalCountries, on='Country', how='left')
whr2016final

,Country,Happiness_Rank,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Corruption_hscore,Generosity_hscore,Year,Region
0,Denmark,1,7.526,1.44178,0.79504,0.57941,0.44453,0.36171,2016,Western Europe
1,Switzerland,2,7.509,1.52733,0.86303,0.58557,0.41203,0.28083,2016,Western Europe
2,Iceland,3,7.501,1.42666,0.86733,0.56624,0.14975,0.47678,2016,Western Europe
3,Norway,4,7.498,1.57744,0.79579,0.59609,0.35776,0.37895,2016,Western Europe
4,Finland,5,7.413,1.40598,0.81091,0.57104,0.41004,0.25492,2016,Western Europe
...,...,...,...,...,...,...,...,...,...,...
139,Rwanda,152,3.515,0.32846,0.31865,0.54320,0.50521,0.23552,2016,Sub-Saharan Africa
140,Benin,153,3.484,0.39499,0.21028,0.39747,0.06681,0.20180,2016,Sub-Saharan Africa
141,Afghanistan,154,3.360,0.38227,0.17344,0.16430,0.07112,0.31268,2016,South Asia
142,Togo,155,3.303,0.28123,0.24811,0.34678,0.11587,0.17517,2016,Sub-Saharan Africa
143,Burundi,157,2.905,0.06831,0.15747,0.04320,0.09419,0.20290,2016,Sub-Saharan Africa

In [30]:
whr2017final = whr2017[whr2017.Country.isin(whrfinalCountries.Country)]
del whr2017final['Dystopia.Residual']
del whr2017final['Family']
del whr2017final['Whisker.high']
del whr2017final['Whisker.low']
whr2017final = whr2017final.rename(columns={'Happiness.Rank':'Happiness_Rank','Happiness.Score':'Happiness_Score',
                                           'Economy..GDP.per.Capita.':'GDP_hscore','Health..Life.Expectancy.':'LifeExp_hscore',
                                           'Freedom':'Freedom_hscore', 'Trust..Government.Corruption.':'Corruption_hscore','Generosity':'Generosity_hscore'}
                                   ,errors="raise")
whr2017final=pd.merge(whr2017final,whrfinalCountries, on='Country', how='left')
whr2017final

,Country,Happiness_Rank,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Region
0,Norway,1,7.537,1.616463,0.796667,0.635423,0.362012,0.315964,2017,Western Europe
1,Denmark,2,7.522,1.482383,0.792566,0.626007,0.355280,0.400770,2017,Western Europe
2,Iceland,3,7.504,1.480633,0.833552,0.627163,0.475540,0.153527,2017,Western Europe
3,Switzerland,4,7.494,1.564980,0.858131,0.620071,0.290549,0.367007,2017,Western Europe
4,Finland,5,7.469,1.443572,0.809158,0.617951,0.245483,0.382612,2017,Western Europe
...,...,...,...,...,...,...,...,...,...,...
139,Guinea,149,3.507,0.244550,0.194129,0.348588,0.264815,0.110938,2017,Sub-Saharan Africa
140,Togo,150,3.495,0.305445,0.247106,0.380426,0.196896,0.095665,2017,Sub-Saharan Africa
141,Rwanda,151,3.471,0.368746,0.326425,0.581844,0.252756,0.455220,2017,Sub-Saharan Africa
142,Tanzania,153,3.349,0.511136,0.364509,0.390018,0.354256,0.066035,2017,Sub-Saharan Africa
143,Burundi,154,2.905,0.091623,0.151611,0.059901,0.204435,0.084148,2017,Sub-Saharan Africa

In [31]:
whr2018final = whr2018[whr2018.Country.isin(whrfinalCountries.Country)]
del whr2018final['Social support']
whr2018final = whr2018final.rename(columns={'Overall rank':'Happiness_Rank','Score':'Happiness_Score',
                                           'GDP per capita':'GDP_hscore','Healthy life expectancy':'LifeExp_hscore',
                                           'Freedom to make life choices':'Freedom_hscore', 'Perceptions of corruption':'Corruption_hscore',
                                            'Generosity':'Generosity_hscore'}
                                   ,errors="raise")
whr2018final=pd.merge(whr2018final,whrfinalCountries, on='Country', how='left')
whr2018final

,Happiness_Rank,Country,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Region
0,1,Finland,7.632,1.305,0.874,0.681,0.202,0.393,2018,Western Europe
1,2,Norway,7.594,1.456,0.861,0.686,0.286,0.340,2018,Western Europe
2,3,Denmark,7.555,1.351,0.868,0.683,0.284,0.408,2018,Western Europe
3,4,Iceland,7.495,1.343,0.914,0.677,0.353,0.138,2018,Western Europe
4,5,Switzerland,7.487,1.420,0.927,0.660,0.256,0.357,2018,Western Europe
...,...,...,...,...,...,...,...,...,...,...
139,151,Rwanda,3.408,0.332,0.400,0.636,0.200,0.444,2018,Sub-Saharan Africa
140,152,Yemen,3.355,0.442,0.343,0.244,0.083,0.064,2018,Middle East and North Africa
141,153,Tanzania,3.303,0.455,0.381,0.481,0.270,0.097,2018,Sub-Saharan Africa
142,154,South Sudan,3.254,0.337,0.177,0.112,0.224,0.106,2018,Sub-Saharan Africa
143,156,Burundi,2.905,0.091,0.145,0.065,0.149,0.076,2018,Sub-Saharan Africa

In [32]:
whr2019final = whr2019[whr2019.Country.isin(whrfinalCountries.Country)]
del whr2019final['Social support']
whr2019final = whr2019final.rename(columns={'Overall rank':'Happiness_Rank','Score':'Happiness_Score',
                                           'GDP per capita':'GDP_hscore','Healthy life expectancy':'LifeExp_hscore',
                                           'Freedom to make life choices':'Freedom_hscore', 'Perceptions of corruption':'Corruption_hscore',
                                            'Generosity':'Generosity_hscore'}
                                   ,errors="raise")
whr2019final=pd.merge(whr2019final,whrfinalCountries, on='Country', how='left')
whr2019final

,Happiness_Rank,Country,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Region
0,1,Finland,7.769,1.340,0.986,0.596,0.153,0.393,2019,Western Europe
1,2,Denmark,7.600,1.383,0.996,0.592,0.252,0.410,2019,Western Europe
2,3,Norway,7.554,1.488,1.028,0.603,0.271,0.341,2019,Western Europe
3,4,Iceland,7.494,1.380,1.026,0.591,0.354,0.118,2019,Western Europe
4,5,Netherlands,7.488,1.396,0.999,0.557,0.322,0.298,2019,Western Europe
...,...,...,...,...,...,...,...,...,...,...
139,151,Yemen,3.380,0.287,0.463,0.143,0.108,0.077,2019,Middle East and North Africa
140,152,Rwanda,3.334,0.359,0.614,0.555,0.217,0.411,2019,Sub-Saharan Africa
141,153,Tanzania,3.231,0.476,0.499,0.417,0.276,0.147,2019,Sub-Saharan Africa
142,154,Afghanistan,3.203,0.350,0.361,0.000,0.158,0.025,2019,South Asia
143,156,South Sudan,2.853,0.306,0.295,0.010,0.202,0.091,2019,Sub-Saharan Africa

In [33]:
whr2020final = whr2020[whr2020.Country.isin(whrfinalCountries.Country)]
del whr2020final['Standard error of ladder score']
del whr2020final['upperwhisker']
del whr2020final['lowerwhisker']
del whr2020final['Logged GDP per capita']
del whr2020final['Social support']
del whr2020final['Healthy life expectancy']
del whr2020final['Freedom to make life choices']
del whr2020final['Generosity']
del whr2020final['Perceptions of corruption']
del whr2020final['Ladder score in Dystopia']
del whr2020final['Dystopia + residual']
del whr2020final['Explained by: Social support']

whr2020final = whr2020final.rename(columns={'Rank':'Happiness_Rank','Regional indicator':'Region','Ladder score':'Happiness_Score',
                                           'Explained by: Log GDP per capita':'GDP_hscore','Explained by: Healthy life expectancy':'LifeExp_hscore',
                                           'Explained by: Freedom to make life choices':'Freedom_hscore', 
                                            'Explained by: Perceptions of corruption':'Corruption_hscore',
                                            'Explained by: Generosity':'Generosity_hscore'}
                                   ,errors="raise")
whr2020final

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year
0,1,Finland,Western Europe,7.8087,1.285190,0.961271,0.662317,0.159670,0.477857,2020
1,2,Denmark,Western Europe,7.6456,1.326949,0.979333,0.665040,0.242793,0.495260,2020
2,3,Switzerland,Western Europe,7.5599,1.390774,1.040533,0.628954,0.269056,0.407946,2020
3,4,Iceland,Western Europe,7.5045,1.326502,1.000843,0.661981,0.362330,0.144541,2020
4,5,Norway,Western Europe,7.4880,1.424207,1.008072,0.670201,0.287985,0.434101,2020
...,...,...,...,...,...,...,...,...,...,...
139,140,Tanzania,Sub-Saharan Africa,3.4762,0.457163,0.442678,0.509343,0.271541,0.203881,2020
140,141,Rwanda,Sub-Saharan Africa,3.3123,0.343243,0.572383,0.604088,0.235705,0.485542,2020
141,142,Zimbabwe,Sub-Saharan Africa,3.2992,0.425564,0.375038,0.377405,0.151349,0.080929,2020
142,143,South Sudan,Sub-Saharan Africa,2.8166,0.289083,0.208809,0.065609,0.209935,0.111157,2020
143,144,Afghanistan,South Asia,2.5669,0.300706,0.266052,0.000000,0.135235,0.001226,2020

In [34]:
whrfinal=whr2020final
whrfinal=whrfinal.append(whr2016final,ignore_index = True)
whrfinal=whrfinal.append(whr2017final,ignore_index = True)
whrfinal=whrfinal.append(whr2018final,ignore_index = True)
whrfinal=whrfinal.append(whr2019final,ignore_index = True)
whrfinal=whrfinal.append(whr2015final,ignore_index = True)
whrfinal

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year
0,1,Finland,Western Europe,7.8087,1.285190,0.961271,0.662317,0.159670,0.477857,2020
1,2,Denmark,Western Europe,7.6456,1.326949,0.979333,0.665040,0.242793,0.495260,2020
2,3,Switzerland,Western Europe,7.5599,1.390774,1.040533,0.628954,0.269056,0.407946,2020
3,4,Iceland,Western Europe,7.5045,1.326502,1.000843,0.661981,0.362330,0.144541,2020
4,5,Norway,Western Europe,7.4880,1.424207,1.008072,0.670201,0.287985,0.434101,2020
...,...,...,...,...,...,...,...,...,...,...
859,153,Afghanistan,South Asia,3.5750,0.319820,0.303350,0.234140,0.365100,0.097190,2015
860,154,Rwanda,Sub-Saharan Africa,3.4650,0.222080,0.428640,0.592010,0.226280,0.551910,2015
861,155,Benin,Sub-Saharan Africa,3.3400,0.286650,0.319100,0.484500,0.182600,0.080100,2015
862,157,Burundi,Sub-Saharan Africa,2.9050,0.015300,0.223960,0.118500,0.197270,0.100620,2015
863,158,Togo,Sub-Saharan Africa,2.8390,0.208680,0.284430,0.364530,0.166810,0.107310,2015

### Final Compiled Dataset from WHR

In [35]:
whrfinal = whrfinal.sort_values(['Country','Year'], ignore_index=False).copy()
whrfinal

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year
859,153,Afghanistan,South Asia,3.5750,0.319820,0.303350,0.234140,0.365100,0.097190,2015
285,154,Afghanistan,South Asia,3.3600,0.382270,0.173440,0.164300,0.312680,0.071120,2016
419,141,Afghanistan,South Asia,3.7940,0.401477,0.180747,0.106180,0.311871,0.061158,2017
566,145,Afghanistan,South Asia,3.6320,0.332000,0.255000,0.085000,0.191000,0.036000,2018
718,154,Afghanistan,South Asia,3.2030,0.350000,0.361000,0.000000,0.158000,0.025000,2019
...,...,...,...,...,...,...,...,...,...,...
265,131,Zimbabwe,Sub-Saharan Africa,4.1930,0.350410,0.159500,0.254290,0.185030,0.085820,2016
418,138,Zimbabwe,Sub-Saharan Africa,3.8750,0.375847,0.196764,0.336384,0.189143,0.095375,2017
565,144,Zimbabwe,Sub-Saharan Africa,3.6920,0.357000,0.248000,0.406000,0.132000,0.099000,2018
711,146,Zimbabwe,Sub-Saharan Africa,3.6630,0.366000,0.433000,0.361000,0.151000,0.089000,2019
141,142,Zimbabwe,Sub-Saharan Africa,3.2992,0.425564,0.375038,0.377405,0.151349,0.080929,2020

In [36]:
whrfinal['Region'].unique()

array(['South Asia', 'Central and Eastern Europe',
       'Middle East and North Africa', 'Latin America and Caribbean',
       'Commonwealth of Independent States', 'North America and ANZ',
       'Western Europe', 'Sub-Saharan Africa', 'Southeast Asia',
       'East Asia'], dtype=object)

### Actual Values

#### Actual GDP per country

In [37]:
GDPdata = pd.read_csv('GDPactual.csv')
GDPdata=GDPdata.rename(columns={'Country Name': 'Country'},errors="raise")
GDPdata.head()

,Country,2015,2016,2017,2018,2019,2020
0,Afghanistan,578.4663529,509.2201005,519.8889126,493.7565814,507.1033919,508.8084095
1,Albania,3952.801215,4124.055726,4531.020806,5284.380184,5355.847795,5215.276752
2,Algeria,4177.886892,3946.452425,4109.703442,4153.956234,3975.508993,3310.386534
3,American Samoa,12059.63516,12038.2497,11003.82976,11557.67116,11534.56754,..
4,Andorra,35770.7767,37475.63506,38964.90448,41791.96984,40897.33087,..

In [38]:
len(GDPdata)

266

In [39]:
actualGDP=GDPdata[GDPdata.Country.isin(whrfinalCountries.Country)]
actualGDP
#128 countries only have actual GDP

,Country,2015,2016,2017,2018,2019,2020
0,Afghanistan,578.4663529,509.2201005,519.8889126,493.7565814,507.1033919,508.8084095
1,Albania,3952.801215,4124.055726,4531.020806,5284.380184,5355.847795,5215.276752
2,Algeria,4177.886892,3946.452425,4109.703442,4153.956234,3975.508993,3310.386534
7,Argentina,13789.06042,12790.24247,14613.04182,11633.49801,9912.281809,8441.919439
8,Armenia,3607.289299,3591.828052,3914.527854,4220.540321,4622.738182,4267.452119
...,...,...,...,...,...,...,...
207,Uruguay,15613.74597,16715.63347,18690.89384,18703.86029,17688.01501,15438.41167
208,Uzbekistan,2615.025134,2567.799207,1826.566919,1529.082864,1719.05721,1685.764947
211,Vietnam,2085.101349,2192.174482,2365.521615,2566.447487,2715.27598,2785.724157
215,Zambia,1338.290927,1280.806543,1535.196574,1516.3711,1305.002214,1050.919283
216,Zimbabwe,1445.069702,1464.588957,1335.665064,1352.162653,1156.154864,1128.210711

#### Actual Life expectancy per country

In [40]:
lifedata = pd.read_csv('LifeExpAct.csv')
del lifedata['2020']
lifedata=lifedata.rename(columns={'Country Name': 'Country'},errors="raise")
lifedata.head()

          Country    2015    2016    2017    2018    2019
0     Afghanistan  63.377  63.763   64.13  64.486  64.833
1         Albania  78.025  78.194  78.333  78.458  78.573
2         Algeria   76.09  76.298  76.499  76.693   76.88
3  American Samoa      ..      ..      ..      ..      ..
4         Andorra      ..      ..      ..      ..      ..

In [41]:
actualLife=lifedata[lifedata.Country.isin(whrfinalCountries.Country)]
actualLife

         Country    2015    2016    2017    2018    2019
0    Afghanistan  63.377  63.763   64.13  64.486  64.833
1        Albania  78.025  78.194  78.333  78.458  78.573
2        Algeria   76.09  76.298  76.499  76.693   76.88
7      Argentina  76.068  76.221  76.372   76.52  76.667
8        Armenia  74.467   74.64  74.797  74.945  75.087
..           ...     ...     ...     ...     ...     ...
207      Uruguay  77.369  77.498  77.632   77.77  77.911
208   Uzbekistan  70.928  71.171  71.388  71.573  71.725
211      Vietnam   75.11  75.172  75.241  75.317    75.4
215       Zambia  61.737  62.464  63.043   63.51  63.886
216     Zimbabwe  59.534  60.294  60.812  61.195   61.49

[128 rows x 6 columns]

In [42]:
life2020 =pd.DataFrame(whr2020['Country'])
life2020['2020']=whr2020['Healthy life expectancy']
life2020

         Country       2020
0        Finland  71.900825
1        Denmark  72.402504
2    Switzerland  74.102448
3        Iceland  73.000000
4         Norway  73.200783
..           ...        ...
139     Tanzania  57.496075
140       Rwanda  61.098846
141     Zimbabwe  55.617260
142  South Sudan  51.000000
143  Afghanistan  52.590000

[144 rows x 2 columns]

In [43]:
actualLife=pd.merge(actualLife,life2020, on='Country', how='left')
actualLife

         Country    2015    2016    2017    2018    2019       2020
0    Afghanistan  63.377  63.763   64.13  64.486  64.833  52.590000
1        Albania  78.025  78.194  78.333  78.458  78.573  68.708138
2        Algeria   76.09  76.298  76.499  76.693   76.88  65.905174
3      Argentina  76.068  76.221  76.372   76.52  76.667  68.803802
4        Armenia  74.467   74.64  74.797  74.945  75.087  66.750656
..           ...     ...     ...     ...     ...     ...        ...
123      Uruguay  77.369  77.498  77.632   77.77  77.911  69.002548
124   Uzbekistan  70.928  71.171  71.388  71.573  71.725  65.107574
125      Vietnam   75.11  75.172  75.241  75.317    75.4  67.952736
126       Zambia  61.737  62.464  63.043   63.51  63.886  55.299377
127     Zimbabwe  59.534  60.294  60.812  61.195   61.49  55.617260

[128 rows x 7 columns]

#### Crime Index per country

In [44]:
crime2015 = pd.read_csv('crime_index/2015.csv')
crime2015

     Rank        Country  Crime Index
0       1    South Sudan        85.32
1       2      Venezuela        84.07
2       3      Guatemala        79.34
3       4   South Africa        78.44
4       5    Afghanistan        77.34
..    ...            ...          ...
142   143  Faroe Islands        18.53
143   144    South Korea        17.99
144   145   Turkmenistan        17.86
145   146      Singapore        17.59
146   147    Isle Of Man        15.10

[147 rows x 3 columns]

In [45]:
crime2015final = crime2015[crime2015.Country.isin(whrfinalCountries.Country)]
del crime2015final['Rank']
crime2015final= crime2015final.rename(columns={'Crime Index': '2015'})
crime2015final

          Country   2015
0     South Sudan  85.32
1       Venezuela  84.07
2       Guatemala  79.34
3    South Africa  78.44
4     Afghanistan  77.34
..            ...    ...
140     Hong Kong  19.24
141        Rwanda  19.16
143   South Korea  17.99
144  Turkmenistan  17.86
145     Singapore  17.59

[119 rows x 2 columns]

In [46]:
crimeCountries1 = pd.DataFrame(whrfinalCountries['Country'])
crimeCountries1 = pd.merge(crimeCountries1,crime2015final, on='Country', how='left')
crimeCountries1

         Country   2015
0        Finland  29.55
1        Denmark  25.71
2    Switzerland  26.77
3        Iceland  33.32
4         Norway  31.19
..           ...    ...
139     Tanzania  61.80
140       Rwanda  19.16
141     Zimbabwe  62.18
142  South Sudan  85.32
143  Afghanistan  77.34

[144 rows x 2 columns]

In [47]:
crime2016 = pd.read_csv('crime_index/2016.csv')
crime2016

     Rank           Country  Crime Index
0       1         Venezuela        84.44
1       2       South Sudan        81.32
2       3      South Africa        78.43
3       4  Papua New Guinea        77.58
4       5          Honduras        76.43
..    ...               ...          ...
112   113            Taiwan        21.21
113   114         Hong Kong        20.85
114   115             Japan        19.34
115   116         Singapore        15.81
116   117       South Korea        14.31

[117 rows x 3 columns]

In [48]:
crime2016final = crime2016[crime2016.Country.isin(whrfinalCountries.Country)]
del crime2016final['Rank']
crime2016final= crime2016final.rename(columns={'Crime Index': '2016'})
crime2016final

          Country   2016
0       Venezuela  84.44
1     South Sudan  81.32
2    South Africa  78.43
4        Honduras  76.43
5         Nigeria  74.14
..            ...    ...
112        Taiwan  21.21
113     Hong Kong  20.85
114         Japan  19.34
115     Singapore  15.81
116   South Korea  14.31

[105 rows x 2 columns]

In [49]:
crimeCountries2 = pd.merge(crimeCountries1,crime2016final, on='Country', how='left')
crimeCountries2

         Country   2015   2016
0        Finland  29.55  28.12
1        Denmark  25.71  25.67
2    Switzerland  26.77  25.73
3        Iceland  33.32  29.89
4         Norway  31.19  30.11
..           ...    ...    ...
139     Tanzania  61.80  60.02
140       Rwanda  19.16    NaN
141     Zimbabwe  62.18  60.02
142  South Sudan  85.32  81.32
143  Afghanistan  77.34    NaN

[144 rows x 3 columns]

In [50]:
crime2017 = pd.read_csv('crime_index/2017.csv')
crime2017

     Rank               Country  Crime Index
0       1             Venezuela        85.28
1       2      Papua New Guinea        82.38
2       3              Honduras        78.34
3       4           South Sudan        78.18
4       5          South Africa        75.72
..    ...                   ...          ...
120   121  United Arab Emirates        20.66
121   122               Austria        19.25
122   123                Taiwan        17.24
123   124             Singapore        16.58
124   125                 Qatar        15.70

[125 rows x 3 columns]

In [51]:
crime2017final = crime2017[crime2017.Country.isin(whrfinalCountries.Country)]
del crime2017final['Rank']
crime2017final= crime2017final.rename(columns={'Crime Index': '2017'})
crime2017final

                  Country   2017
0               Venezuela  85.28
2                Honduras  78.34
3             South Sudan  78.18
4            South Africa  75.72
5             Afghanistan  73.85
..                    ...    ...
119             Hong Kong  20.68
120  United Arab Emirates  20.66
121               Austria  19.25
122                Taiwan  17.24
123             Singapore  16.58

[108 rows x 2 columns]

In [52]:
crimeCountries3 = pd.merge(crimeCountries2,crime2017final, on='Country', how='left')
crimeCountries3

         Country   2015   2016   2017
0        Finland  29.55  28.12  24.63
1        Denmark  25.71  25.67  21.13
2    Switzerland  26.77  25.73  22.45
3        Iceland  33.32  29.89  27.49
4         Norway  31.19  30.11  45.69
..           ...    ...    ...    ...
139     Tanzania  61.80  60.02  61.39
140       Rwanda  19.16    NaN    NaN
141     Zimbabwe  62.18  60.02  53.46
142  South Sudan  85.32  81.32  78.18
143  Afghanistan  77.34    NaN  73.85

[144 rows x 4 columns]

In [53]:
crime2018 = pd.read_csv('crime_index/2018.csv')
crime2018

     Rank               Country  Crime Index
0       1             Venezuela        82.59
1       2      Papua New Guinea        79.95
2       3              Honduras        78.89
3       4          South Africa        75.71
4       5   Trinidad And Tobago        72.22
..    ...                   ...          ...
110   111               Georgia        20.35
111   112  United Arab Emirates        18.75
112   113             Singapore        16.23
113   114                 Qatar        15.70
114   115                 Japan        13.10

[115 rows x 3 columns]

In [54]:
crime2018final = crime2018[crime2018.Country.isin(whrfinalCountries.Country)]
del crime2018final['Rank']
crime2018final= crime2018final.rename(columns={'Crime Index': '2018'})
crime2018final

                  Country   2018
0               Venezuela  82.59
2                Honduras  78.89
3            South Africa  75.71
5                  Brazil  70.55
6             El Salvador  69.72
..                    ...    ...
109               Austria  20.41
110               Georgia  20.35
111  United Arab Emirates  18.75
112             Singapore  16.23
114                 Japan  13.10

[104 rows x 2 columns]

In [55]:
crimeCountries4 = pd.merge(crimeCountries3,crime2018final, on='Country', how='left')
crimeCountries4

         Country   2015   2016   2017   2018
0        Finland  29.55  28.12  24.63  23.70
1        Denmark  25.71  25.67  21.13  22.02
2    Switzerland  26.77  25.73  22.45  21.76
3        Iceland  33.32  29.89  27.49  24.49
4         Norway  31.19  30.11  45.69  43.33
..           ...    ...    ...    ...    ...
139     Tanzania  61.80  60.02  61.39  59.83
140       Rwanda  19.16    NaN    NaN    NaN
141     Zimbabwe  62.18  60.02  53.46  54.56
142  South Sudan  85.32  81.32  78.18    NaN
143  Afghanistan  77.34    NaN  73.85    NaN

[144 rows x 5 columns]

In [56]:
crime2019 = pd.read_csv('crime_index/2019.csv')
crime2019

     Rank               Country  Crime Index
0       1             Venezuela        83.23
1       2      Papua New Guinea        79.88
2       3              Honduras        76.84
3       4          South Africa        76.80
4       5           Afghanistan        76.63
..    ...                   ...          ...
113   114             Hong Kong        19.32
114   115                Taiwan        17.38
115   116  United Arab Emirates        16.32
116   117                 Japan        13.73
117   118                 Qatar        13.26

[118 rows x 3 columns]

In [57]:
crime2019final = crime2019[crime2019.Country.isin(whrfinalCountries.Country)]
del crime2019final['Rank']
crime2019final= crime2019final.rename(columns={'Crime Index': '2019'})
crime2019final

                  Country   2019
0               Venezuela  83.23
2                Honduras  76.84
3            South Africa  76.80
4             Afghanistan  76.63
6                  Brazil  70.24
..                    ...    ...
112               Georgia  19.86
113             Hong Kong  19.32
114                Taiwan  17.38
115  United Arab Emirates  16.32
116                 Japan  13.73

[106 rows x 2 columns]

In [58]:
crimeCountries5 = pd.merge(crimeCountries4,crime2019final, on='Country', how='left')
crimeCountries5

         Country   2015   2016   2017   2018   2019
0        Finland  29.55  28.12  24.63  23.70  22.80
1        Denmark  25.71  25.67  21.13  22.02  24.25
2    Switzerland  26.77  25.73  22.45  21.76  21.50
3        Iceland  33.32  29.89  27.49  24.49  23.28
4         Norway  31.19  30.11  45.69  43.33  35.32
..           ...    ...    ...    ...    ...    ...
139     Tanzania  61.80  60.02  61.39  59.83  59.01
140       Rwanda  19.16    NaN    NaN    NaN    NaN
141     Zimbabwe  62.18  60.02  53.46  54.56  51.80
142  South Sudan  85.32  81.32  78.18    NaN    NaN
143  Afghanistan  77.34    NaN  73.85    NaN  76.63

[144 rows x 6 columns]

In [59]:
crime2020 = pd.read_csv('crime_index/2020.csv')
crime2020

     Rank               Country  Crime Index
0       1             Venezuela        84.49
1       2      Papua New Guinea        81.93
2       3          South Africa        77.49
3       4           Afghanistan        76.23
4       5              Honduras        76.11
..    ...                   ...          ...
124   125                 Japan        20.66
125   126               Georgia        20.21
126   127  United Arab Emirates        15.70
127   128                Taiwan        15.65
128   129                 Qatar        11.86

[129 rows x 3 columns]

In [60]:
crime2020final = crime2020[crime2020.Country.isin(whrfinalCountries.Country)]
del crime2020final['Rank']
crime2020final= crime2020final.rename(columns={'Crime Index': '2020'})
crime2020final

                  Country   2020
0               Venezuela  84.49
2            South Africa  77.49
3             Afghanistan  76.23
4                Honduras  76.11
6                  Brazil  68.88
..                    ...    ...
123             Hong Kong  20.70
124                 Japan  20.66
125               Georgia  20.21
126  United Arab Emirates  15.70
127                Taiwan  15.65

[110 rows x 2 columns]

In [61]:
actualCrimes = pd.merge(crimeCountries5,crime2020final, on='Country', how='left')
actualCrimes

         Country   2015   2016   2017   2018   2019   2020
0        Finland  29.55  28.12  24.63  23.70  22.80  23.32
1        Denmark  25.71  25.67  21.13  22.02  24.25  25.10
2    Switzerland  26.77  25.73  22.45  21.76  21.50  21.60
3        Iceland  33.32  29.89  27.49  24.49  23.28  23.36
4         Norway  31.19  30.11  45.69  43.33  35.32  35.43
..           ...    ...    ...    ...    ...    ...    ...
139     Tanzania  61.80  60.02  61.39  59.83  59.01  58.95
140       Rwanda  19.16    NaN    NaN    NaN    NaN    NaN
141     Zimbabwe  62.18  60.02  53.46  54.56  51.80  57.47
142  South Sudan  85.32  81.32  78.18    NaN    NaN    NaN
143  Afghanistan  77.34    NaN  73.85    NaN  76.63  76.23

[144 rows x 7 columns]

## THINGS TO REMEMBER:

**World Happiness Report Tables:** <br>
- Initial Data Tables: whr2015,whr2016, whr2017, whr2018, whr2019, whr2020
- Final Countries and their Region: whrfinalCountries
- Final data per year: whr2015final,whr2016final, whr2017final, whr2018final, whr2019final, whr2020final
- Compiled World Happiness Report: whrfinal
- Sorted by country and year WHR: whrfinal

**Actual Value Tables**
- Actual GDP per country (2015-2020): actualGDP *[note that the number of coiuntries varies on the given dataset]*
- Actual life expectancy per country(2015-2020): actualLife  *[note that the number of coiuntries varies on the given dataset]*
- Actual crime rate per country(2015-2020): actualCrimes *[note that the number of coiuntries varies on the whrfinalCountries]*

In [62]:
actualCrimes

         Country   2015   2016   2017   2018   2019   2020
0        Finland  29.55  28.12  24.63  23.70  22.80  23.32
1        Denmark  25.71  25.67  21.13  22.02  24.25  25.10
2    Switzerland  26.77  25.73  22.45  21.76  21.50  21.60
3        Iceland  33.32  29.89  27.49  24.49  23.28  23.36
4         Norway  31.19  30.11  45.69  43.33  35.32  35.43
..           ...    ...    ...    ...    ...    ...    ...
139     Tanzania  61.80  60.02  61.39  59.83  59.01  58.95
140       Rwanda  19.16    NaN    NaN    NaN    NaN    NaN
141     Zimbabwe  62.18  60.02  53.46  54.56  51.80  57.47
142  South Sudan  85.32  81.32  78.18    NaN    NaN    NaN
143  Afghanistan  77.34    NaN  73.85    NaN  76.63  76.23

[144 rows x 7 columns]

In [63]:
actualCrimescopy = actualCrimes.melt(id_vars=['Country'], value_vars = ["2015", "2016", "2017", "2018", "2019", "2020"], var_name = "Year", value_name = "Actual_CrimeRate")
actualCrimescopy.sort_values(['Country', 'Year'], ignore_index=False, inplace=True)
actualCrimescopy
# whrfinal = whrfinal.sort_values(['Country','Year'], ignore_index=False).copy()
# whrfinal

         Country  Year  Actual_CrimeRate
143  Afghanistan  2015             77.34
287  Afghanistan  2016               NaN
431  Afghanistan  2017             73.85
575  Afghanistan  2018               NaN
719  Afghanistan  2019             76.63
..           ...   ...               ...
285     Zimbabwe  2016             60.02
429     Zimbabwe  2017             53.46
573     Zimbabwe  2018             54.56
717     Zimbabwe  2019             51.80
861     Zimbabwe  2020             57.47

[864 rows x 3 columns]

In [64]:
actualCrimescopy['Year'] = pd.to_numeric(actualCrimescopy['Year'], errors="coerce")

In [65]:
whrfinal = pd.merge(whrfinal, actualCrimescopy, on=['Country', 'Year'], how='left')
whrfinal

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Actual_CrimeRate
0,153,Afghanistan,South Asia,3.5750,0.319820,0.303350,0.234140,0.365100,0.097190,2015,77.34
1,154,Afghanistan,South Asia,3.3600,0.382270,0.173440,0.164300,0.312680,0.071120,2016,NaN
2,141,Afghanistan,South Asia,3.7940,0.401477,0.180747,0.106180,0.311871,0.061158,2017,73.85
3,145,Afghanistan,South Asia,3.6320,0.332000,0.255000,0.085000,0.191000,0.036000,2018,NaN
4,154,Afghanistan,South Asia,3.2030,0.350000,0.361000,0.000000,0.158000,0.025000,2019,76.63
...,...,...,...,...,...,...,...,...,...,...,...
859,131,Zimbabwe,Sub-Saharan Africa,4.1930,0.350410,0.159500,0.254290,0.185030,0.085820,2016,60.02
860,138,Zimbabwe,Sub-Saharan Africa,3.8750,0.375847,0.196764,0.336384,0.189143,0.095375,2017,53.46
861,144,Zimbabwe,Sub-Saharan Africa,3.6920,0.357000,0.248000,0.406000,0.132000,0.099000,2018,54.56
862,146,Zimbabwe,Sub-Saharan Africa,3.6630,0.366000,0.433000,0.361000,0.151000,0.089000,2019,51.80
863,142,Zimbabwe,Sub-Saharan Africa,3.2992,0.425564,0.375038,0.377405,0.151349,0.080929,2020,57.47

In [66]:
actualGDP
actualGDPcopy = actualGDP.melt(id_vars=['Country'], value_vars = ["2015", "2016", "2017", "2018", "2019", "2020"], var_name = "Year", value_name = "Actual_GDP")
actualGDPcopy.sort_values(['Country', 'Year'], ignore_index=False, inplace=True)
actualGDPcopy

actualGDPcopy['Year'] = pd.to_numeric(actualGDPcopy['Year'], errors="coerce")

In [67]:
whrfinal = pd.merge(whrfinal, actualGDPcopy, on=['Country', 'Year'], how='left')
whrfinal

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Actual_CrimeRate,Actual_GDP
0,153,Afghanistan,South Asia,3.5750,0.319820,0.303350,0.234140,0.365100,0.097190,2015,77.34,578.4663529
1,154,Afghanistan,South Asia,3.3600,0.382270,0.173440,0.164300,0.312680,0.071120,2016,NaN,509.2201005
2,141,Afghanistan,South Asia,3.7940,0.401477,0.180747,0.106180,0.311871,0.061158,2017,73.85,519.8889126
3,145,Afghanistan,South Asia,3.6320,0.332000,0.255000,0.085000,0.191000,0.036000,2018,NaN,493.7565814
4,154,Afghanistan,South Asia,3.2030,0.350000,0.361000,0.000000,0.158000,0.025000,2019,76.63,507.1033919
...,...,...,...,...,...,...,...,...,...,...,...,...
859,131,Zimbabwe,Sub-Saharan Africa,4.1930,0.350410,0.159500,0.254290,0.185030,0.085820,2016,60.02,1464.588957
860,138,Zimbabwe,Sub-Saharan Africa,3.8750,0.375847,0.196764,0.336384,0.189143,0.095375,2017,53.46,1335.665064
861,144,Zimbabwe,Sub-Saharan Africa,3.6920,0.357000,0.248000,0.406000,0.132000,0.099000,2018,54.56,1352.162653
862,146,Zimbabwe,Sub-Saharan Africa,3.6630,0.366000,0.433000,0.361000,0.151000,0.089000,2019,51.80,1156.154864
863,142,Zimbabwe,Sub-Saharan Africa,3.2992,0.425564,0.375038,0.377405,0.151349,0.080929,2020,57.47,1128.210711

In [68]:
actualLife

actualLifecopy = actualGDP.melt(id_vars=['Country'], value_vars = ["2015", "2016", "2017", "2018", "2019", "2020"], var_name = "Year", value_name = "Actual_LifeExp")
actualLifecopy.sort_values(['Country', 'Year'], ignore_index=False, inplace=True)
actualLifecopy

actualLifecopy['Year'] = pd.to_numeric(actualLifecopy['Year'], errors="coerce")

## FINAL COMPILED DATASET

In [69]:
whrfinal = pd.merge(whrfinal, actualLifecopy, on=['Country', 'Year'], how='left')
whrfinal

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Actual_CrimeRate,Actual_GDP,Actual_LifeExp
0,153,Afghanistan,South Asia,3.5750,0.319820,0.303350,0.234140,0.365100,0.097190,2015,77.34,578.4663529,578.4663529
1,154,Afghanistan,South Asia,3.3600,0.382270,0.173440,0.164300,0.312680,0.071120,2016,NaN,509.2201005,509.2201005
2,141,Afghanistan,South Asia,3.7940,0.401477,0.180747,0.106180,0.311871,0.061158,2017,73.85,519.8889126,519.8889126
3,145,Afghanistan,South Asia,3.6320,0.332000,0.255000,0.085000,0.191000,0.036000,2018,NaN,493.7565814,493.7565814
4,154,Afghanistan,South Asia,3.2030,0.350000,0.361000,0.000000,0.158000,0.025000,2019,76.63,507.1033919,507.1033919
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,131,Zimbabwe,Sub-Saharan Africa,4.1930,0.350410,0.159500,0.254290,0.185030,0.085820,2016,60.02,1464.588957,1464.588957
860,138,Zimbabwe,Sub-Saharan Africa,3.8750,0.375847,0.196764,0.336384,0.189143,0.095375,2017,53.46,1335.665064,1335.665064
861,144,Zimbabwe,Sub-Saharan Africa,3.6920,0.357000,0.248000,0.406000,0.132000,0.099000,2018,54.56,1352.162653,1352.162653
862,146,Zimbabwe,Sub-Saharan Africa,3.6630,0.366000,0.433000,0.361000,0.151000,0.089000,2019,51.80,1156.154864,1156.154864
863,142,Zimbabwe,Sub-Saharan Africa,3.2992,0.425564,0.375038,0.377405,0.151349,0.080929,2020,57.47,1128.210711,1128.210711

In [70]:
whrfinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 864 entries, 0 to 863
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Happiness_Rank     864 non-null    int64
 1   Country            864 non-null    object
 2   Region             864 non-null    object
 3   Happiness_Score    864 non-null    float64
 4   GDP_hscore         864 non-null    float64
 5   LifeExp_hscore     864 non-null    float64
 6   Freedom_hscore     864 non-null    float64
 7   Generosity_hscore  864 non-null    float64
 8   Corruption_hscore  864 non-null    float64
 9   Year               864 non-null    int64
 10  Actual_CrimeRate   652 non-null    float64
 11  Actual_GDP         768 non-null    object
 12  Actual_LifeExp     768 non-null    object
dtypes: float64(7), int64(2), object(4)
memory usage: 94.5+ KB

## EDA

### 2015 Top 50

In [71]:
top50_2015 = whrfinal.loc[whrfinal['Year'] == 2015].copy()
top50_2015.sort_values(['Happiness_Score'], ascending=False, inplace=True)
top50_2015.head(50)

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Actual_CrimeRate,Actual_GDP,Actual_LifeExp
732,1,Switzerland,Western Europe,7.587,1.39651,0.94143,0.66557,0.29678,0.41978,2015,26.77,84776.14217,84776.14217
318,2,Iceland,Western Europe,7.561,1.30232,0.94784,0.62877,0.43630,0.14145,2015,33.32,52951.68151,52951.68151
198,3,Denmark,Western Europe,7.527,1.32548,0.87464,0.64938,0.34139,0.48357,2015,25.71,53254.85637,53254.85637
582,4,Norway,Western Europe,7.522,1.45900,0.88521,0.66973,0.34699,0.36503,2015,31.19,74355.51586,74355.51586
132,5,Canada,North America and ANZ,7.427,1.32629,0.90563,0.63297,0.45811,0.32957,2015,37.46,43596.13554,43596.13554
240,6,Finland,Western Europe,7.406,1.29025,0.88911,0.64169,0.23351,0.41372,2015,29.55,42784.69836,42784.69836
546,7,Netherlands,Western Europe,7.378,1.32944,0.89284,0.61576,0.47610,0.31814,2015,35.41,45175.23189,45175.23189
726,8,Sweden,Western Europe,7.364,1.33171,0.91087,0.65980,0.36262,0.43844,2015,42.09,51545.48361,51545.48361
552,9,New Zealand,North America and ANZ,7.286,1.25018,0.90837,0.63938,0.47501,0.42922,2015,39.76,38630.72659,38630.72659
30,10,Australia,North America and ANZ,7.284,1.33358,0.93156,0.65124,0.43562,0.35637,2015,42.16,56755.72171,56755.72171
354,11,Israel,Middle East and North Africa,7.278,1.22857,0.91387,0.41319,0.33172,0.07785,2015,30.40,35813.71341,35813.71341
174,12,Costa Rica,Latin America and Caribbean,7.226,0.95578,0.86027,0.63376,0.25497,0.10583,2015,63.05,11642.77805,11642.77805
36,13,Austria,Western Europe,7.200,1.33723,0.89042,0.62433,0.33088,0.18676,2015,26.25,44178.04738,44178.04738
504,14,Mexico,Latin America and Caribbean,7.187,1.02054,0.81444,0.48181,0.14074,0.21312,2015,53.84,9616.645558,9616.645558
816,15,United States,North America and ANZ,7.119,1.39451,0.86179,0.54604,0.40105,0.15890,2015,50.01,56863.3715,56863.3715
96,16,Brazil,Latin America and Caribbean,6.983,0.98124,0.69702,0.49049,0.14574,0.17521,2015,68.95,8814.001418,8814.001418
450,17,Luxembourg,Western Europe,6.946,1.56391,0.91894,0.61583,0.28034,0.37798,2015,35.74,101376.4966,101376.4966
348,18,Ireland,Western Europe,6.940,1.33596,0.89533,0.61777,0.45901,0.28703,2015,49.07,62000.11881,62000.11881
66,19,Belgium,Western Europe,6.937,1.30782,0.89667,0.58450,0.22250,0.22540,2015,42.04,40991.80814,40991.80814
804,20,United Arab Emirates,Middle East and North Africa,6.901,1.42727,0.80925,0.64157,0.26428,0.38583,2015,22.22,38663.4005,38663.4005
810,21,United Kingdom,Western Europe,6.867,1.26637,0.90943,0.59625,0.51912,0.32067,2015,42.01,45039.23595,45039.23595
834,23,Venezuela,Latin America and Caribbean,6.810,1.04424,0.72052,0.42908,0.05841,0.11069,2015,84.07,NaN,NaN
678,24,Singapore,Southeast Asia,6.798,1.52186,1.02525,0.54252,0.31105,0.49210,2015,17.59,55646.61875,55646.61875
600,25,Panama,Latin America and Caribbean,6.786,1.06353,0.79661,0.54210,0.24434,0.09270,2015,50.08,13630.32287,13630.32287
264,26,Germany,Western Europe,6.750,1.32792,0.89186,0.61477,0.28214,0.21843,2015,28.49,41086.72967,41086.72967
144,27,Chile,Latin America and Caribbean,6.670,1.10715,0.85857,0.44132,0.33363,0.12869,2015,45.01,13574.16924,13574.16924
246,29,France,Western Europe,6.575,1.27778,0.94579,0.55011,0.12332,0.20646,2015,49.71,36638.18493,36638.18493
18,30,Argentina,Latin America and Caribbean,6.574,1.05351,0.78723,0.44974,0.11451,0.08484,2015,62.40,13789.06042,13789.06042
192,31,Czech Republic,Central and Eastern Europe,6.505,1.17898,0.84483,0.46364,0.10686,0.02652,2015,32.89,17829.69832,17829.69832
822,32,Uruguay,Latin America and Caribbean,6.485,1.06166,0.81160,0.60362,0.23240,0.24558,2015,47.17,15613.74597,15613.74597
156,33,Colombia,Latin America and Caribbean,6.477,0.91861,0.69077,0.53466,0.18401,0.05120,2015,56.88,6175.87603,6175.87603
756,34,Thailand,Southeast Asia,6.455,0.96690,0.73850,0.55664,0.57630,0.03187,2015,37.06,5840.053067,5840.053067
654,35,Saudi Arabia,Middle East and North Africa,6.411,1.39541,0.72025,0.31048,0.13706,0.32524,2015,34.57,20627.92693,20627.92693
714,36,Spain,Western Europe,6.329,1.23011,0.95562,0.45951,0.18227,0.06398,2015,33.85,25732.01836,25732.01836
486,37,Malta,Western Europe,6.302,1.20740,0.88721,0.60365,0.51752,0.13586,2015,25.91,24921.60368,24921.60368
738,38,Taiwan,East Asia,6.298,1.29098,0.87530,0.39740,0.25376,0.08129,2015,21.88,NaN,NaN
408,39,Kuwait,Middle East and North Africa,6.295,1.55422,0.72492,0.55499,0.16228,0.25609,2015,43.51,29869.55275,29869.55275
768,41,Trinidad and Tobago,Latin America and Caribbean,6.168,1.21183,0.61483,0.55884,0.31844,0.01140,2015,NaN,18214.46062,18214.46062
222,42,El Salvador,Latin America and Caribbean,6.130,0.76454,0.67737,0.40350,0.10692,0.11776,2015,69.44,3705.579704,3705.579704
282,43,Guatemala,Latin America and Caribbean,6.123,0.74553,0.64425,0.57733,0.27489,0.09472,2015,79.34,3994.636913,3994.636913
828,44,Uzbekistan,Commonwealth of Independent States,6.003,0.63244,0.59772,0.65821,0.22837,0.30826,2015,58.13,2615.025134,2615.025134
684,45,Slovakia,Central and Eastern Europe,5.995,1.16891,0.78902,0.31751,0.16893,0.03431,2015,33.34,NaN,NaN
378,46,Japan,East Asia,5.987,1.27074,0.99111,0.49615,0.10705,0.18060,2015,20.24,34524.46986,34524.46986
702,47,South Korea,East Asia,5.984,1.24461,0.96538,0.33208,0.18557,0.07857,2015,17.99,NaN,NaN
210,48,Ecuador,Latin America and Caribbean,5.975,0.86402,0.79075,0.48574,0.11541,0.18090,2015,54.04,6124.490887,6124.490887
48,49,Bahrain,Middle East and North Africa,5.960,1.32376,0.74716,0.45492,0.17362,0.30600,2015,39.97,22634.08565,22634.08565
360,50,Italy,Western Europe,5.948,1.25114,0.95446,0.26236,0.22823,0.02901,2015,47.50,30230.2263,30230.2263
78,51,Bolivia,Latin America and Caribbean,5.890,0.68133,0.53920,0.57414,0.20536,0.08800,2015,65.60,3035.971655,3035.971655
510,52,Moldova,Commonwealth of Independent States,5.889,0.59448,0.61826,0.32818,0.20951,0.01615,2015,49.70,2732.457113,2732.457113
606,53,Paraguay,Latin America and Caribbean,5.878,0.75985,0.66098,0.53899,0.34240,0.08242,2015,55.57,5413.776021,5413.776021

### 2016 Top 50

In [72]:
top50_2016 = whrfinal.loc[whrfinal['Year'] == 2016].copy()
top50_2016.sort_values(['Happiness_Score'], ascending=False, inplace=True)
top50_2016.head(50)

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Actual_CrimeRate,Actual_GDP,Actual_LifeExp
199,1,Denmark,Western Europe,7.526,1.44178,0.79504,0.57941,0.36171,0.44453,2016,25.67,54663.99837,54663.99837
733,2,Switzerland,Western Europe,7.509,1.52733,0.86303,0.58557,0.28083,0.41203,2016,25.73,83073.28008,83073.28008
319,3,Iceland,Western Europe,7.501,1.42666,0.86733,0.56624,0.47678,0.14975,2016,29.89,61987.92636,61987.92636
583,4,Norway,Western Europe,7.498,1.57744,0.79579,0.59609,0.37895,0.35776,2016,30.11,70460.56053,70460.56053
241,5,Finland,Western Europe,7.413,1.40598,0.81091,0.57104,0.25492,0.41004,2016,28.12,43784.28396,43784.28396
133,6,Canada,North America and ANZ,7.404,1.44015,0.82760,0.57370,0.44834,0.31329,2016,39.20,42315.60371,42315.60371
547,7,Netherlands,Western Europe,7.339,1.46468,0.81231,0.55211,0.47416,0.29927,2016,31.47,46007.85292,46007.85292
553,8,New Zealand,North America and ANZ,7.334,1.36066,0.83096,0.58147,0.49401,0.41904,2016,36.37,40080.49411,40080.49411
31,9,Australia,North America and ANZ,7.313,1.44443,0.85120,0.56837,0.47407,0.32331,2016,43.12,49971.13146,49971.13146
727,10,Sweden,Western Europe,7.291,1.45181,0.83121,0.58218,0.38254,0.40867,2016,43.12,51965.15715,51965.15715
355,11,Israel,Middle East and North Africa,7.267,1.33766,0.84917,0.36432,0.32288,0.08728,2016,30.63,37282.53056,37282.53056
37,12,Austria,Western Europe,7.119,1.45038,0.80565,0.54355,0.32865,0.21348,2016,24.06,45276.83144,45276.83144
817,13,United States,North America and ANZ,7.104,1.50796,0.77900,0.48163,0.41077,0.14868,2016,48.87,58021.4005,58021.4005
175,14,Costa Rica,Latin America and Caribbean,7.087,1.06879,0.76146,0.55225,0.22553,0.10547,2016,57.56,12011.22275,12011.22275
265,16,Germany,Western Europe,6.994,1.44787,0.81487,0.53466,0.30452,0.28551,2016,32.95,42107.51727,42107.51727
97,17,Brazil,Latin America and Caribbean,6.952,1.08754,0.61415,0.40425,0.15776,0.14166,2016,71.23,8710.096774,8710.096774
67,18,Belgium,Western Europe,6.929,1.42539,0.81959,0.51354,0.24240,0.26248,2016,45.19,41984.10303,41984.10303
349,19,Ireland,Western Europe,6.907,1.48341,0.81455,0.54008,0.44963,0.29754,2016,48.39,62993.7451,62993.7451
451,20,Luxembourg,Western Europe,6.871,1.69752,0.84542,0.54870,0.27571,0.35329,2016,36.03,104278.391,104278.391
505,21,Mexico,Latin America and Caribbean,6.778,1.11508,0.71143,0.37709,0.11735,0.18355,2016,50.80,8744.515559,8744.515559
679,22,Singapore,Southeast Asia,6.739,1.64555,0.94719,0.48770,0.32706,0.46987,2016,15.81,56848.17539,56848.17539
811,23,United Kingdom,Western Europe,6.725,1.40283,0.80991,0.50036,0.50156,0.27399,2016,43.13,41048.34966,41048.34966
145,24,Chile,Latin America and Caribbean,6.705,1.21670,0.81883,0.37789,0.31595,0.11451,2016,42.00,13753.59215,13753.59215
601,25,Panama,Latin America and Caribbean,6.701,1.18306,0.70835,0.48927,0.24180,0.08423,2016,52.69,14343.98139,14343.98139
19,26,Argentina,Latin America and Caribbean,6.650,1.15137,0.69711,0.42284,0.10989,0.07296,2016,63.28,12790.24247,12790.24247
193,27,Czech Republic,Central and Eastern Europe,6.596,1.30915,0.76376,0.41418,0.09929,0.03986,2016,32.06,18575.23203,18575.23203
805,28,United Arab Emirates,Middle East and North Africa,6.573,1.57352,0.72993,0.56215,0.26591,0.35561,2016,23.08,38141.86713,38141.86713
823,29,Uruguay,Latin America and Caribbean,6.545,1.18157,0.72183,0.54388,0.18056,0.21394,2016,53.06,16715.63347,16715.63347
487,30,Malta,Western Europe,6.488,1.30782,0.80315,0.54994,0.56237,0.17554,2016,26.73,25741.44606,25741.44606
157,31,Colombia,Latin America and Caribbean,6.481,1.03032,0.59659,0.44735,0.15626,0.05399,2016,48.51,5870.777957,5870.777957
247,32,France,Western Europe,6.478,1.39488,0.83795,0.46562,0.12160,0.17808,2016,44.06,37037.37419,37037.37419
757,33,Thailand,Southeast Asia,6.474,1.08930,0.64915,0.49553,0.58696,0.02833,2016,42.56,5993.305516,5993.305516
739,34,Taiwan,East Asia,6.379,1.39729,0.79565,0.32377,0.25495,0.06630,2016,21.21,NaN,NaN
655,34,Saudi Arabia,Middle East and North Africa,6.379,1.48953,0.59267,0.37904,0.15457,0.30008,2016,25.20,19878.76384,19878.76384
715,37,Spain,Western Europe,6.361,1.34253,0.87896,0.37545,0.17665,0.06137,2016,31.77,26505.34322,26505.34322
13,38,Algeria,Middle East and North Africa,6.355,1.05266,0.61804,0.21006,0.07044,0.16157,2016,57.58,3946.452425,3946.452425
283,39,Guatemala,Latin America and Caribbean,6.324,0.83454,0.54039,0.50379,0.28808,0.08701,2016,63.54,4173.301666,4173.301666
409,41,Kuwait,Middle East and North Africa,6.239,1.61714,0.63569,0.43166,0.15965,0.23669,2016,36.04,27653.15762,27653.15762
49,42,Bahrain,Middle East and North Africa,6.218,1.44024,0.65696,0.47375,0.17147,0.25772,2016,37.26,22608.45256,22608.45256
769,43,Trinidad and Tobago,Latin America and Caribbean,6.168,1.32572,0.52608,0.48453,0.31935,0.01241,2016,NaN,16250.62869,16250.62869
835,44,Venezuela,Latin America and Caribbean,6.084,1.13367,0.61904,0.19847,0.04250,0.08304,2016,84.44,NaN,NaN
685,45,Slovakia,Central and Eastern Europe,6.078,1.27973,0.70367,0.23391,0.13837,0.02947,2016,33.49,NaN,NaN
223,46,El Salvador,Latin America and Caribbean,6.068,0.87370,0.59600,0.37269,0.08877,0.10613,2016,72.04,3805.995686,3805.995686
475,47,Malaysia,Southeast Asia,6.005,1.25142,0.62366,0.39031,0.41474,0.09081,2016,68.55,9817.78709,9817.78709
559,48,Nicaragua,Latin America and Caribbean,5.992,0.69384,0.65213,0.46582,0.29773,0.16292,2016,NaN,2107.57406,2107.57406
829,49,Uzbekistan,Commonwealth of Independent States,5.987,0.73591,0.50163,0.60848,0.34326,0.28333,2016,NaN,2567.799207,2567.799207
361,50,Italy,Western Europe,5.977,1.35495,0.85102,0.18827,0.16684,0.02556,2016,46.22,30939.71425,30939.71425
211,51,Ecuador,Latin America and Caribbean,5.976,0.97306,0.68613,0.40270,0.10074,0.18037,2016,52.95,6060.092962,6060.092962
379,53,Japan,East Asia,5.921,1.38007,0.91491,0.46761,0.10224,0.18985,2016,19.34,38761.81815,38761.81815
391,54,Kazakhstan,Commonwealth of Independent States,5.919,1.22943,0.57386,0.40520,0.15011,0.11132,2016,45.88,7714.841844,7714.841844

### 2017 Top 50

In [73]:
top50_2017 = whrfinal.loc[whrfinal['Year'] == 2017].copy()
top50_2017.sort_values(['Happiness_Score'], ascending=False, inplace=True)
top50_2017.head(50)

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Actual_CrimeRate,Actual_GDP,Actual_LifeExp
584,1,Norway,Western Europe,7.537,1.616463,0.796667,0.635423,0.362012,0.315964,2017,45.69,75496.75406,75496.75406
200,2,Denmark,Western Europe,7.522,1.482383,0.792566,0.626007,0.355280,0.400770,2017,21.13,57610.09818,57610.09818
320,3,Iceland,Western Europe,7.504,1.480633,0.833552,0.627163,0.475540,0.153527,2017,27.49,72010.14903,72010.14903
734,4,Switzerland,Western Europe,7.494,1.564980,0.858131,0.620071,0.290549,0.367007,2017,22.45,83352.08865,83352.08865
242,5,Finland,Western Europe,7.469,1.443572,0.809158,0.617951,0.245483,0.382612,2017,24.63,46297.49635,46297.49635
548,6,Netherlands,Western Europe,7.377,1.503945,0.810696,0.585384,0.470490,0.282662,2017,29.89,48554.99228,48554.99228
134,7,Canada,North America and ANZ,7.316,1.479204,0.834558,0.611101,0.435540,0.287372,2017,39.25,45129.35644,45129.35644
554,8,New Zealand,North America and ANZ,7.314,1.405706,0.816760,0.614062,0.500005,0.382817,2017,38.78,42992.89527,42992.89527
728,9,Sweden,Western Europe,7.284,1.494387,0.830875,0.612924,0.385399,0.384399,2017,46.65,53791.50873,53791.50873
32,10,Australia,North America and ANZ,7.284,1.484415,0.843887,0.601607,0.477699,0.301184,2017,42.42,54027.96682,54027.96682
356,11,Israel,Middle East and North Africa,7.213,1.375382,0.838404,0.405989,0.330083,0.085242,2017,29.01,40474.66813,40474.66813
176,12,Costa Rica,Latin America and Caribbean,7.079,1.109706,0.759509,0.580132,0.214613,0.100107,2017,55.94,12225.57449,12225.57449
38,13,Austria,Western Europe,7.006,1.487097,0.815328,0.567766,0.316472,0.221060,2017,19.25,47309.36627,47309.36627
818,14,United States,North America and ANZ,6.993,1.546259,0.774287,0.505741,0.392579,0.135639,2017,48.76,60109.65573,60109.65573
350,15,Ireland,Western Europe,6.977,1.535707,0.809783,0.573110,0.427858,0.298388,2017,45.77,70413.12183,70413.12183
266,16,Germany,Western Europe,6.951,1.487923,0.798951,0.562511,0.336269,0.276732,2017,32.03,44442.77184,44442.77184
68,17,Belgium,Western Europe,6.891,1.463781,0.818092,0.539771,0.231503,0.251343,2017,44.51,44089.31009,44089.31009
452,18,Luxembourg,Western Europe,6.863,1.741944,0.845089,0.596628,0.283181,0.318834,2017,29.04,107361.3069,107361.3069
812,19,United Kingdom,Western Europe,6.714,1.441634,0.805336,0.508190,0.492774,0.265428,2017,41.19,40304.72308,40304.72308
146,20,Chile,Latin America and Caribbean,6.652,1.252785,0.819480,0.376895,0.326662,0.082288,2017,47.50,14998.81706,14998.81706
806,21,United Arab Emirates,Middle East and North Africa,6.648,1.626343,0.726798,0.608345,0.360942,0.324490,2017,20.66,40644.79119,40644.79119
98,22,Brazil,Latin America and Caribbean,6.635,1.107353,0.616552,0.437454,0.162350,0.111093,2017,70.62,9928.643063,9928.643063
194,23,Czech Republic,Central and Eastern Europe,6.609,1.352682,0.754444,0.490946,0.088107,0.036873,2017,30.18,20636.19995,20636.19995
20,24,Argentina,Latin America and Caribbean,6.599,1.185295,0.695137,0.494519,0.109457,0.059740,2017,62.63,14613.04182,14613.04182
506,25,Mexico,Latin America and Caribbean,6.578,1.153184,0.709979,0.412730,0.120990,0.132774,2017,50.32,9287.849587,9287.849587
680,26,Singapore,Southeast Asia,6.572,1.692278,0.949492,0.549841,0.345966,0.464308,2017,16.58,61176.45636,61176.45636
488,27,Malta,Western Europe,6.527,1.343280,0.821944,0.588767,0.574731,0.153066,2017,30.56,28250.69777,28250.69777
284,29,Guatemala,Latin America and Caribbean,6.454,0.872002,0.540240,0.531311,0.283488,0.077223,2017,59.58,4454.04815,4454.04815
824,28,Uruguay,Latin America and Caribbean,6.454,1.217560,0.719217,0.579392,0.175097,0.178062,2017,51.64,18690.89384,18690.89384
602,30,Panama,Latin America and Caribbean,6.452,1.233748,0.706156,0.550027,0.210557,0.070984,2017,50.01,15146.40237,15146.40237
248,31,France,Western Europe,6.442,1.430923,0.844466,0.470222,0.129762,0.172502,2017,43.66,38685.25849,38685.25849
758,32,Thailand,Southeast Asia,6.424,1.127869,0.647239,0.580201,0.572123,0.031613,2017,49.78,6593.818352,6593.818352
740,33,Taiwan,East Asia,6.422,1.433627,0.793984,0.361467,0.258360,0.063829,2017,17.24,NaN,NaN
716,34,Spain,Western Europe,6.403,1.384398,0.888961,0.408781,0.190134,0.070914,2017,31.28,28100.58624,28100.58624
158,36,Colombia,Latin America and Caribbean,6.357,1.070622,0.595028,0.477487,0.149014,0.046669,2017,51.69,6376.706716,6376.706716
656,37,Saudi Arabia,Middle East and North Africa,6.344,1.530624,0.590148,0.449751,0.147616,0.273432,2017,23.65,20802.46631,20802.46631
770,38,Trinidad and Tobago,Latin America and Caribbean,6.168,1.361356,0.519983,0.518631,0.325296,0.008965,2017,NaN,16173.74005,16173.74005
410,39,Kuwait,Middle East and North Africa,6.105,1.632952,0.632106,0.496338,0.228290,0.215160,2017,33.48,29759.46744,29759.46744
686,40,Slovakia,Central and Eastern Europe,6.098,1.325394,0.712733,0.295817,0.136544,0.024211,2017,30.18,NaN,NaN
50,41,Bahrain,Middle East and North Africa,6.087,1.488412,0.653133,0.536747,0.172668,0.257042,2017,35.35,23742.93734,23742.93734
476,42,Malaysia,Southeast Asia,6.084,1.291215,0.618784,0.402265,0.416609,0.065601,2017,64.75,10259.30481,10259.30481
560,43,Nicaragua,Latin America and Caribbean,6.071,0.737299,0.653096,0.447552,0.301674,0.130688,2017,NaN,2159.161926,2159.161926
212,44,Ecuador,Latin America and Caribbean,6.008,1.000820,0.685636,0.455198,0.150112,0.140135,2017,50.88,6213.503127,6213.503127
224,45,El Salvador,Latin America and Caribbean,6.003,0.909784,0.596019,0.432453,0.078258,0.089981,2017,71.57,3910.255969,3910.255969
626,46,Poland,Central and Eastern Europe,5.973,1.291788,0.699475,0.520342,0.158466,0.059308,2017,31.53,13864.68176,13864.68176
830,47,Uzbekistan,Commonwealth of Independent States,5.971,0.786441,0.498273,0.658249,0.415984,0.246528,2017,NaN,1826.566919,1826.566919
362,48,Italy,Western Europe,5.964,1.395067,0.853144,0.256451,0.172790,0.028028,2017,44.66,32326.67421,32326.67421
644,49,Russia,Commonwealth of Independent States,5.963,1.281778,0.547349,0.373783,0.052264,0.032963,2017,46.05,NaN,NaN
380,51,Japan,East Asia,5.920,1.416915,0.913476,0.505626,0.120573,0.163761,2017,20.89,38386.51115,38386.51115
446,52,Lithuania,Central and Eastern Europe,5.902,1.314582,0.628950,0.234232,0.010165,0.011866,2017,40.03,16843.69965,16843.69965

### 2018 Top 50

In [74]:
top50_2018 = whrfinal.loc[whrfinal['Year'] == 2018].copy()
top50_2018.sort_values(['Happiness_Score'], ascending=False, inplace=True)
top50_2018.head(50)

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Actual_CrimeRate,Actual_GDP,Actual_LifeExp
243,1,Finland,Western Europe,7.632,1.305,0.874,0.681,0.202,0.393,2018,23.70,50013.2942,50013.2942
585,2,Norway,Western Europe,7.594,1.456,0.861,0.686,0.286,0.340,2018,43.33,82267.80932,82267.80932
201,3,Denmark,Western Europe,7.555,1.351,0.868,0.683,0.284,0.408,2018,22.02,61598.5367,61598.5367
321,4,Iceland,Western Europe,7.495,1.343,0.914,0.677,0.353,0.138,2018,24.49,74348.36228,74348.36228
735,5,Switzerland,Western Europe,7.487,1.420,0.927,0.660,0.256,0.357,2018,21.76,86429.50082,86429.50082
549,6,Netherlands,Western Europe,7.441,1.361,0.878,0.638,0.333,0.295,2018,28.94,53018.62936,53018.62936
135,7,Canada,North America and ANZ,7.328,1.330,0.896,0.653,0.321,0.291,2018,39.28,46454.74339,46454.74339
555,8,New Zealand,North America and ANZ,7.324,1.268,0.876,0.669,0.365,0.389,2018,39.15,43306.07,43306.07
729,9,Sweden,Western Europe,7.314,1.355,0.913,0.659,0.285,0.383,2018,49.26,54589.06039,54589.06039
33,10,Australia,North America and ANZ,7.272,1.340,0.910,0.647,0.361,0.302,2018,42.55,57354.96405,57354.96405
813,11,United Kingdom,Western Europe,7.190,1.244,0.888,0.464,0.262,0.082,2018,41.20,42992.80372,42992.80372
39,12,Austria,Western Europe,7.139,1.341,0.891,0.617,0.242,0.224,2018,20.41,51453.14702,51453.14702
177,13,Costa Rica,Latin America and Caribbean,7.072,1.010,0.817,0.632,0.143,0.101,2018,53.89,12468.57529,12468.57529
351,14,Ireland,Western Europe,6.977,1.448,0.876,0.614,0.307,0.306,2018,43.82,79297.7292,79297.7292
267,15,Germany,Western Europe,6.965,1.340,0.861,0.586,0.273,0.280,2018,36.65,47787.16051,47787.16051
69,16,Belgium,Western Europe,6.927,1.324,0.894,0.583,0.188,0.240,2018,42.17,47554.74631,47554.74631
453,17,Luxembourg,Western Europe,6.910,1.576,0.896,0.632,0.196,0.321,2018,32.12,116597.2956,116597.2956
819,18,United States,North America and ANZ,6.886,1.398,0.819,0.547,0.291,0.133,2018,49.58,63064.41841,63064.41841
357,19,Israel,Middle East and North Africa,6.814,1.301,0.883,0.533,0.354,0.272,2018,36.90,41704.82857,41704.82857
807,20,United Arab Emirates,Middle East and North Africa,6.774,2.096,0.670,0.284,0.186,0.000,2018,18.75,43839.32449,43839.32449
195,21,Czech Republic,Central and Eastern Europe,6.711,1.233,0.854,0.543,0.064,0.034,2018,28.81,23419.73561,23419.73561
489,22,Malta,Western Europe,6.627,1.270,0.884,0.645,0.376,0.142,2018,31.93,30672.29224,30672.29224
249,23,France,Western Europe,6.489,1.293,0.908,0.520,0.098,0.176,2018,45.29,41526.41466,41526.41466
507,24,Mexico,Latin America and Caribbean,6.488,1.038,0.761,0.479,0.069,0.095,2018,51.05,9686.514244,9686.514244
147,25,Chile,Latin America and Caribbean,6.476,1.131,0.808,0.431,0.197,0.061,2018,46.48,15888.14436,15888.14436
741,26,Taiwan,East Asia,6.441,1.365,0.857,0.418,0.151,0.078,2018,20.74,NaN,NaN
603,27,Panama,Latin America and Caribbean,6.430,1.112,0.759,0.597,0.125,0.063,2018,48.35,15544.73352,15544.73352
99,28,Brazil,Latin America and Caribbean,6.419,0.986,0.675,0.493,0.110,0.088,2018,70.55,9151.445253,9151.445253
21,29,Argentina,Latin America and Caribbean,6.388,1.073,0.744,0.570,0.062,0.054,2018,61.79,11633.49801,11633.49801
285,30,Guatemala,Latin America and Caribbean,6.382,0.781,0.608,0.604,0.179,0.071,2018,59.35,4478.424646,4478.424646
825,31,Uruguay,Latin America and Caribbean,6.379,1.093,0.771,0.625,0.130,0.155,2018,51.83,18703.86029,18703.86029
657,33,Saudi Arabia,Middle East and North Africa,6.371,1.379,0.633,0.509,0.098,0.127,2018,36.69,23337.01755,23337.01755
681,34,Singapore,Southeast Asia,6.343,1.529,1.008,0.631,0.261,0.457,2018,16.23,66679.04649,66679.04649
477,35,Malaysia,Southeast Asia,6.322,1.161,0.669,0.356,0.311,0.059,2018,63.05,11377.6542,11377.6542
717,36,Spain,Western Europe,6.310,1.251,0.965,0.449,0.142,0.074,2018,36.74,30374.52104,30374.52104
159,37,Colombia,Latin America and Caribbean,6.260,0.960,0.635,0.531,0.099,0.039,2018,50.66,6729.583332,6729.583332
771,38,Trinidad and Tobago,Latin America and Caribbean,6.192,1.223,0.564,0.575,0.171,0.019,2018,NaN,17037.86236,17037.86236
687,39,Slovakia,Central and Eastern Europe,6.173,1.210,0.776,0.354,0.118,0.014,2018,30.15,NaN,NaN
225,40,El Salvador,Latin America and Caribbean,6.167,0.806,0.639,0.461,0.065,0.082,2018,69.72,4052.624775,4052.624775
561,41,Nicaragua,Latin America and Caribbean,6.141,0.668,0.700,0.527,0.208,0.128,2018,NaN,2014.570287,2014.570287
627,42,Poland,Central and Eastern Europe,6.123,1.176,0.781,0.546,0.108,0.064,2018,36.23,15468.40941,15468.40941
51,43,Bahrain,Middle East and North Africa,6.105,1.338,0.698,0.594,0.243,0.123,2018,36.96,23991.04139,23991.04139
831,44,Uzbekistan,Commonwealth of Independent States,6.096,0.719,0.605,0.724,0.328,0.259,2018,NaN,1529.082864,1529.082864
411,45,Kuwait,Middle East and North Africa,6.083,1.474,0.675,0.554,0.167,0.106,2018,37.03,33399.06048,33399.06048
759,46,Thailand,Southeast Asia,6.072,1.016,0.707,0.637,0.364,0.029,2018,47.25,7296.879608,7296.879608
363,47,Italy,Western Europe,6.000,1.264,0.946,0.281,0.137,0.028,2018,44.53,34608.6756,34608.6756
213,48,Ecuador,Latin America and Caribbean,5.973,0.889,0.736,0.556,0.114,0.120,2018,49.18,6295.934662,6295.934662
447,50,Lithuania,Central and Eastern Europe,5.952,1.197,0.716,0.350,0.026,0.006,2018,37.59,19166.81227,19166.81227
693,51,Slovenia,Central and Eastern Europe,5.948,1.219,0.856,0.633,0.160,0.051,2018,24.71,26103.16026,26103.16026
639,52,Romania,Central and Eastern Europe,5.945,1.116,0.726,0.528,0.088,0.001,2018,29.04,12398.98198,12398.98198

### 2019 Top 50

In [75]:
top50_2019 = whrfinal.loc[whrfinal['Year'] == 2019].copy()
top50_2019.sort_values(['Happiness_Score'], ascending=False, inplace=True)
top50_2019.head(50)

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Actual_CrimeRate,Actual_GDP,Actual_LifeExp
244,1,Finland,Western Europe,7.769,1.340,0.986,0.596,0.153,0.393,2019,22.80,48711.56421,48711.56421
202,2,Denmark,Western Europe,7.600,1.383,0.996,0.592,0.252,0.410,2019,24.25,60213.09215,60213.09215
586,3,Norway,Western Europe,7.554,1.488,1.028,0.603,0.271,0.341,2019,35.32,75826.08188,75826.08188
322,4,Iceland,Western Europe,7.494,1.380,1.026,0.591,0.354,0.118,2019,23.28,68883.14877,68883.14877
550,5,Netherlands,Western Europe,7.488,1.396,0.999,0.557,0.322,0.298,2019,28.57,52295.03905,52295.03905
736,6,Switzerland,Western Europe,7.480,1.452,1.052,0.572,0.263,0.343,2019,21.50,85300.34797,85300.34797
730,7,Sweden,Western Europe,7.343,1.387,1.009,0.574,0.267,0.373,2019,49.35,51686.85135,51686.85135
556,8,New Zealand,North America and ANZ,7.307,1.303,1.026,0.585,0.330,0.380,2019,39.55,41999.36829,41999.36829
136,9,Canada,North America and ANZ,7.278,1.365,1.039,0.584,0.285,0.308,2019,39.51,46326.67264,46326.67264
40,10,Austria,Western Europe,7.246,1.376,1.016,0.532,0.244,0.226,2019,21.37,50121.55421,50121.55421
34,11,Australia,North America and ANZ,7.228,1.372,1.036,0.557,0.332,0.290,2019,42.76,55057.2047,55057.2047
178,12,Costa Rica,Latin America and Caribbean,7.167,1.034,0.963,0.558,0.144,0.093,2019,56.05,12669.70608,12669.70608
358,13,Israel,Middle East and North Africa,7.139,1.276,1.029,0.371,0.261,0.082,2019,32.16,43588.71315,43588.71315
454,14,Luxembourg,Western Europe,7.090,1.609,1.012,0.526,0.194,0.316,2019,29.07,114685.1684,114685.1684
814,15,United Kingdom,Western Europe,7.054,1.333,0.996,0.450,0.348,0.278,2019,42.72,42354.41465,42354.41465
352,16,Ireland,Western Europe,7.021,1.499,0.999,0.516,0.298,0.310,2019,44.52,80778.82961,80778.82961
268,17,Germany,Western Europe,6.985,1.373,0.987,0.495,0.261,0.265,2019,34.51,46467.5162,46467.5162
70,18,Belgium,Western Europe,6.923,1.356,0.986,0.473,0.160,0.210,2019,42.46,46414.43523,46414.43523
820,19,United States,North America and ANZ,6.892,1.433,0.874,0.454,0.280,0.128,2019,47.13,65279.52903,65279.52903
196,20,Czech Republic,Central and Eastern Europe,6.852,1.269,0.920,0.457,0.046,0.036,2019,26.66,23490.39846,23490.39846
808,21,United Arab Emirates,Middle East and North Africa,6.825,1.503,0.825,0.598,0.262,0.182,2019,16.32,43103.33629,43103.33629
490,22,Malta,Western Europe,6.726,1.300,0.999,0.564,0.375,0.151,2019,33.53,30186.19596,30186.19596
508,23,Mexico,Latin America and Caribbean,6.595,1.070,0.861,0.433,0.074,0.073,2019,52.30,9946.033829,9946.033829
250,24,France,Western Europe,6.592,1.324,1.045,0.436,0.111,0.183,2019,46.39,40380.09877,40380.09877
742,25,Taiwan,East Asia,6.446,1.368,0.914,0.351,0.242,0.097,2019,17.38,NaN,NaN
148,26,Chile,Latin America and Caribbean,6.444,1.159,0.920,0.357,0.187,0.056,2019,46.81,14741.7144,14741.7144
286,27,Guatemala,Latin America and Caribbean,6.436,0.800,0.746,0.535,0.175,0.078,2019,55.92,4638.634943,4638.634943
658,28,Saudi Arabia,Middle East and North Africa,6.375,1.403,0.795,0.439,0.080,0.132,2019,29.73,23139.79798,23139.79798
718,30,Spain,Western Europe,6.354,1.286,1.062,0.362,0.153,0.079,2019,32.46,29564.7449,29564.7449
604,31,Panama,Latin America and Caribbean,6.321,1.149,0.910,0.516,0.109,0.054,2019,46.43,15727.97449,15727.97449
100,32,Brazil,Latin America and Caribbean,6.300,1.004,0.802,0.390,0.099,0.086,2019,70.24,8897.48777,8897.48777
826,33,Uruguay,Latin America and Caribbean,6.293,1.124,0.891,0.523,0.127,0.150,2019,52.01,17688.01501,17688.01501
682,34,Singapore,Southeast Asia,6.262,1.572,1.141,0.556,0.271,0.453,2019,21.47,65640.70795,65640.70795
226,35,El Salvador,Latin America and Caribbean,6.253,0.794,0.789,0.430,0.093,0.074,2019,68.08,4167.730939,4167.730939
364,36,Italy,Western Europe,6.223,1.294,1.039,0.231,0.158,0.030,2019,45.02,33566.7873,33566.7873
52,37,Bahrain,Middle East and North Africa,6.199,1.362,0.871,0.536,0.255,0.110,2019,32.87,23443.43483,23443.43483
688,38,Slovakia,Central and Eastern Europe,6.198,1.246,0.881,0.334,0.121,0.014,2019,29.54,NaN,NaN
772,39,Trinidad and Tobago,Latin America and Caribbean,6.192,1.231,0.713,0.489,0.185,0.016,2019,NaN,16637.16294,16637.16294
628,40,Poland,Central and Eastern Europe,6.182,1.206,0.884,0.483,0.117,0.050,2019,30.09,15694.84082,15694.84082
832,41,Uzbekistan,Commonwealth of Independent States,6.174,0.745,0.756,0.631,0.322,0.240,2019,NaN,1719.05721,1719.05721
448,42,Lithuania,Central and Eastern Europe,6.149,1.238,0.818,0.291,0.043,0.042,2019,36.51,19555.21107,19555.21107
160,43,Colombia,Latin America and Caribbean,6.125,0.985,0.841,0.470,0.099,0.034,2019,51.26,6424.979492,6424.979492
694,44,Slovenia,Central and Eastern Europe,6.118,1.258,0.953,0.564,0.144,0.057,2019,22.57,25940.72803,25940.72803
562,45,Nicaragua,Latin America and Caribbean,6.105,0.694,0.835,0.435,0.200,0.127,2019,NaN,1926.699694,1926.699694
406,46,Kosovo,Central and Eastern Europe,6.100,0.882,0.758,0.489,0.262,0.006,2019,NaN,4445.890702,4445.890702
22,47,Argentina,Latin America and Caribbean,6.086,1.092,0.881,0.471,0.066,0.050,2019,62.55,9912.281809,9912.281809
640,48,Romania,Central and Eastern Europe,6.070,1.162,0.825,0.462,0.083,0.005,2019,27.84,12889.80961,12889.80961
190,49,Cyprus,Western Europe,6.046,1.263,1.042,0.406,0.190,0.041,2019,29.31,28288.46158,28288.46158
214,50,Ecuador,Latin America and Caribbean,6.028,0.912,0.868,0.498,0.126,0.087,2019,48.98,6222.524653,6222.524653
412,51,Kuwait,Middle East and North Africa,6.021,1.500,0.808,0.493,0.142,0.097,2019,33.91,32373.25111,32373.25111

### 2020 Top 50

In [76]:
top50_2020 = whrfinal.loc[whrfinal['Year'] == 2020].copy()
top50_2020.sort_values(['Happiness_Score'], ascending=False, inplace=True)
top50_2020.head(50)

,Happiness_Rank,Country,Region,Happiness_Score,GDP_hscore,LifeExp_hscore,Freedom_hscore,Generosity_hscore,Corruption_hscore,Year,Actual_CrimeRate,Actual_GDP,Actual_LifeExp
245,1,Finland,Western Europe,7.8087,1.285190,0.961271,0.662317,0.159670,0.477857,2020,23.32,49041.34226,49041.34226
203,2,Denmark,Western Europe,7.6456,1.326949,0.979333,0.665040,0.242793,0.495260,2020,25.10,60908.83513,60908.83513
737,3,Switzerland,Western Europe,7.5599,1.390774,1.040533,0.628954,0.269056,0.407946,2020,21.60,86601.55641,86601.55641
323,4,Iceland,Western Europe,7.5045,1.326502,1.000843,0.661981,0.362330,0.144541,2020,23.36,59260.88714,59260.88714
587,5,Norway,Western Europe,7.4880,1.424207,1.008072,0.670201,0.287985,0.434101,2020,35.43,67294.47698,67294.47698
551,6,Netherlands,Western Europe,7.4489,1.338946,0.975675,0.613626,0.336318,0.368570,2020,27.62,52304.05739,52304.05739
731,7,Sweden,Western Europe,7.3535,1.322235,0.986470,0.650298,0.272828,0.442066,2020,47.07,51925.71376,51925.71376
557,8,New Zealand,North America and ANZ,7.2996,1.242318,1.008138,0.646790,0.325726,0.461268,2020,40.93,41791.79309,41791.79309
41,9,Austria,Western Europe,7.2942,1.317286,1.000934,0.603369,0.255510,0.281256,2020,23.73,48105.36462,48105.36462
455,10,Luxembourg,Western Europe,7.2375,1.536676,0.986443,0.610137,0.195954,0.367041,2020,33.39,115873.6026,115873.6026
137,11,Canada,North America and ANZ,7.2321,1.301648,1.022502,0.644028,0.281529,0.351702,2020,39.67,43241.61783,43241.61783
35,12,Australia,North America and ANZ,7.2228,1.310396,1.022608,0.621877,0.324974,0.335996,2020,41.36,51812.15404,51812.15404
815,13,United Kingdom,Western Europe,7.1645,1.273061,0.975700,0.525169,0.373433,0.322602,2020,43.71,40284.63846,40284.63846
359,14,Israel,Middle East and North Africa,7.1286,1.216464,1.008053,0.420699,0.266862,0.099898,2020,29.60,43610.52033,43610.52033
179,15,Costa Rica,Latin America and Caribbean,7.1214,0.981108,0.939635,0.645018,0.131266,0.096362,2020,56.33,12076.81451,12076.81451
353,16,Ireland,Western Europe,7.0937,1.446887,0.975671,0.587780,0.295427,0.373433,2020,45.43,83812.80297,83812.80297
269,17,Germany,Western Europe,7.0758,1.314185,0.972115,0.564274,0.252038,0.309362,2020,34.81,45723.6441,45723.6441
821,18,United States,North America and ANZ,6.9396,1.373987,0.831618,0.534608,0.298143,0.152285,2020,47.20,63543.57779,63543.57779
197,19,Czech Republic,Central and Eastern Europe,6.9109,1.212322,0.894564,0.505745,0.046326,0.049803,2020,25.52,22762.19714,22762.19714
71,20,Belgium,Western Europe,6.8635,1.295843,0.964901,0.499805,0.146966,0.208724,2020,43.98,44594.37811,44594.37811
809,21,United Arab Emirates,Middle East and North Africa,6.7908,1.431086,0.787814,0.652936,0.280656,0.220214,2020,15.70,..,..
491,22,Malta,Western Europe,6.7728,1.252513,0.972042,0.633239,0.341181,0.178864,2020,39.04,27884.64283,27884.64283
251,23,France,Western Europe,6.6638,1.268129,1.029714,0.514051,0.112608,0.227303,2020,46.79,38625.06738,38625.06738
509,24,Mexico,Latin America and Caribbean,6.4650,1.024387,0.831601,0.553893,0.083094,0.083134,2020,53.97,8346.702379,8346.702379
743,25,Taiwan,East Asia,6.4554,1.327471,0.878438,0.449404,0.150599,0.131516,2020,15.65,NaN,NaN
827,26,Uruguay,Latin America and Caribbean,6.4401,1.071000,0.856929,0.594267,0.132144,0.193425,2020,53.81,15438.41167,15438.41167
659,27,Saudi Arabia,Middle East and North Africa,6.4065,1.334329,0.759818,0.548477,0.087441,0.163322,2020,26.18,20110.31619,20110.31619
719,28,Spain,Western Europe,6.4009,1.230535,1.051343,0.425984,0.165305,0.109580,2020,31.96,27057.16352,27057.16352
287,29,Guatemala,Latin America and Caribbean,6.3989,0.753816,0.705953,0.613147,0.170612,0.098360,2020,57.83,4603.339617,4603.339617
365,30,Italy,Western Europe,6.3874,1.236396,1.022505,0.321306,0.170266,0.040146,2020,44.26,31676.2021,31676.2021
683,31,Singapore,Southeast Asia,6.3771,1.519580,1.137814,0.635317,0.218771,0.533162,2020,30.57,59797.75218,59797.75218
101,32,Brazil,Latin America and Caribbean,6.3756,0.952680,0.766119,0.483293,0.131675,0.106519,2020,68.88,6796.844542,6796.844542
695,33,Slovenia,Central and Eastern Europe,6.3634,1.208652,0.932548,0.646700,0.145701,0.076516,2020,21.07,25179.66717,25179.66717
227,34,El Salvador,Latin America and Caribbean,6.3483,0.748940,0.752730,0.524044,0.118936,0.117030,2020,67.96,3798.636521,3798.636521
407,35,Kosovo,Central and Eastern Europe,6.3252,0.840481,0.672709,0.557280,0.325287,0.008559,2020,NaN,4287.200903,4287.200903
605,36,Panama,Latin America and Caribbean,6.3048,1.097668,0.878547,0.579850,0.097207,0.054231,2020,47.19,12269.049,12269.049
689,37,Slovakia,Central and Eastern Europe,6.2806,1.194838,0.853465,0.423543,0.116730,0.011291,2020,29.22,NaN,NaN
833,38,Uzbekistan,Commonwealth of Independent States,6.2576,0.696653,0.716704,0.693270,0.363311,0.280260,2020,NaN,1685.764947,1685.764947
149,39,Chile,Latin America and Caribbean,6.2285,1.096992,0.889261,0.417482,0.155579,0.062849,2020,45.23,13231.70421,13231.70421
53,40,Bahrain,Middle East and North Africa,6.2273,1.296692,0.838836,0.610400,0.287454,0.126697,2020,29.29,..,..
449,41,Lithuania,Central and Eastern Europe,6.2155,1.193560,0.795421,0.420461,0.053691,0.081350,2020,33.06,19997.59253,19997.59253
773,42,Trinidad and Tobago,Latin America and Caribbean,6.1919,1.167642,0.658829,0.552931,0.199358,0.015078,2020,NaN,15384.03946,15384.03946
629,43,Poland,Central and Eastern Europe,6.1863,1.169229,0.868038,0.557904,0.063374,0.160541,2020,28.50,15656.18273,15656.18273
161,44,Colombia,Latin America and Caribbean,6.1634,0.932204,0.810020,0.526890,0.092374,0.045848,2020,54.79,5332.773524,5332.773524
191,45,Cyprus,Western Europe,6.1590,1.212799,1.026125,0.459386,0.227932,0.051207,2020,30.01,26623.80089,26623.80089
563,46,Nicaragua,Latin America and Caribbean,6.1371,0.620033,0.803093,0.560117,0.212871,0.174085,2020,44.44,1905.256756,1905.256756
641,47,Romania,Central and Eastern Europe,6.1237,1.120402,0.792295,0.534852,0.068182,0.000830,2020,27.64,12896.08862,12896.08862
413,48,Kuwait,Middle East and North Africa,6.1021,1.424834,0.776469,0.570261,0.132751,0.112815,2020,34.75,..,..
503,49,Mauritius,Sub-Saharan Africa,6.1013,1.073664,0.763389,0.590838,0.186895,0.084088,2020,47.33,8622.675515,8622.675515
395,50,Kazakhstan,Commonwealth of Independent States,6.0579,1.122594,0.698789,0.497432,0.153714,0.110464,2020,62.02,9055.745009,9055.745009

In [77]:
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

CRSError: Invalid projection: epsg:4326: (Internal Proj Error: proj_create: SQLite error on SELECT name, type, coordinate_system_auth_name, coordinate_system_code, datum_auth_name, datum_code, area_of_use_auth_name, area_of_use_code, text_definition, deprecated FROM geodetic_crs WHERE auth_name = ? AND code = ?: no such column: area_of_use_auth_name)